[id*='rf-'].rf-widget .search-results .catalog-result .badges .badge.rf-session-badges, .rf-default-modal .catalog-result .badges .badge.rf-session-badges {
    display: block !important;
    background: #FEC10D;
  }
  
  
  
  /*======================*/
  /*  # Pages Lemon #FEC10D | R:254 G:193 B:13
  /*======================*/
  .rf-workflow .rf-workflow-header .rfwf-header .rfwf-headline h1:before,
  .rf-workflow .rf-workflow-header .rfwf-header .rfwf-headline h1:after {
      background-color: #FEC10D; }
  
  .rfSI svg {
      fill: #002856; }
  
  .mdBtnR-primary,
  button.mdBtnR-primary,
  a.mdBtnR-primary {
      color: #002856;
      background-color: #FEC10D;
      border-color: #FEC10D; }
  .mdBtnR-primary .mdBtnR-text,
  button.mdBtnR-primary .mdBtnR-text,
  a.mdBtnR-primary .mdBtnR-text {
      color: #002856; }
  .mdBtnR-primary:hover, .mdBtnR-primary.hover, .mdBtnR-primary:focus, .mdBtnR-primary.focus, .mdBtnR-primary:active, .mdBtnR-primary.active,
  button.mdBtnR-primary:hover,
  button.mdBtnR-primary.hover,
  button.mdBtnR-primary:focus,
  button.mdBtnR-primary.focus,
  button.mdBtnR-primary:active,
  button.mdBtnR-primary.active,
  a.mdBtnR-primary:hover,
  a.mdBtnR-primary.hover,
  a.mdBtnR-primary:focus,
  a.mdBtnR-primary.focus,
  a.mdBtnR-primary:active,
  a.mdBtnR-primary.active {
      color: #002856;
      background-color: #FEC10D;
      background-image: none;
      border-color: #FEC10D;
      opacity: 0.8; }
  .mdBtnR-primary:hover .mdBtnR-text, .mdBtnR-primary.hover .mdBtnR-text, .mdBtnR-primary:focus .mdBtnR-text, .mdBtnR-primary.focus .mdBtnR-text, .mdBtnR-primary:active .mdBtnR-text, .mdBtnR-primary.active .mdBtnR-text,
  button.mdBtnR-primary:hover .mdBtnR-text,
  button.mdBtnR-primary.hover .mdBtnR-text,
  button.mdBtnR-primary:focus .mdBtnR-text,
  button.mdBtnR-primary.focus .mdBtnR-text,
  button.mdBtnR-primary:active .mdBtnR-text,
  button.mdBtnR-primary.active .mdBtnR-text,
  a.mdBtnR-primary:hover .mdBtnR-text,
  a.mdBtnR-primary.hover .mdBtnR-text,
  a.mdBtnR-primary:focus .mdBtnR-text,
  a.mdBtnR-primary.focus .mdBtnR-text,
  a.mdBtnR-primary:active .mdBtnR-text,
  a.mdBtnR-primary.active .mdBtnR-text {
      color: #002856; }
  .mdBtnR-primary .rfSI svg,
  button.mdBtnR-primary .rfSI svg,
  a.mdBtnR-primary .rfSI svg {
      fill: #002856; }
  
  a,
  a:link,
  a:visited {
      color: #0052D6; }
  a:hover, a:focus,
  a:link:hover,
  a:link:focus,
  a:visited:hover,
  a:visited:focus {
      color: #0052D6; }
  
  
  /* Marcus Work */
  .rf-headline .mdBtnR-primary {
      background-color: #FEC10D !important;
      border-color: #FEC10D !important;
  }
  
  .rf-headline .mdBtnR-primary .mdBtnR-text {
      color: #002856 !important;
  }
  
  .page-builder-canvas .flex-box-section-full:first-of-type .flex-box-section-full-interior .rf-headline-interior h1:first-of-type > span {
      padding: 5px 15px;
      border-left: 10px solid #FEC10D;
      border-right: 10px solid #FEC10D;
  }
  
  .page-builder-panel.panel-left .rf-card .card-header-title,
  .page-builder-panel.panel-left .rf-card h5,
  .page-builder-panel.panel-left .rf-headline-content h1:first-of-type {
      color: #002856;
  }
  
  
  .mdBtnR-outline-primary,
  a.mdBtnR-outline-primary,
  button.mdBtnR-outline-primary {
      border-color: #002856 !important;
  }
  
  .mdBtnR-outline-primary .mdBtnR-text,
  a.mdBtnR-outline-primary .mdBtnR-text .targeted-agenda-actions a,
  button.mdBtnR-outline-primary span {
      color: #002856 !important;
  }
  
  
  input.mdBtnR.mdBtnR-primary {
      background-color: #FEC10D;
      border-color: #FEC10D;
      color: #002856;
      padding-bottom: 11px !important;
  }
  
  
  .search-filters .filters-header .clear-search span,
  #rf-catalog .rf-catalog-tabs li.active {
      color: #002856 !important;
      border-color: #002856 !important;
  }
  
  
  .favorited svg,
  .session-info-container .rfSI svg {
      fill: #FEC10D !important;
  }
  
  .questions-section .mdBtnR-primary {
      background: #FEC10D !important;
      border: #FEC10D !important;
      color: #002856 !important;
      text-transform: uppercase !important;
      opacity: 1 !important;
  }
  
  /* End Marcus' Edits */
  
  
  
  /* Mykes changes */
  
  
  
  #rf-exhibitorcatalog .mdBtnR-outline-primary.exhibitor-tile-view-booth {
      color: #002856 !important;
      background-color: #FEC10D !important;
      border-color: #FEC10D !important;
  }
  
  
  .rf-pill-primary {
      background-color: #002856 !important;
      border-color: #002856 !important;
  }
  
  
  .recommended-sessions-card .card-body .card-body-row .session-info h5,
  .suggested-agenda-item .session-info h5 {
      margin: 0;
      font-weight: 400;
      color: #002856;
  }
  
  
  .suggested-agenda-item .rfSI svg {
      fill: #FEC10D !important;
  }
  
  
  .suggested-agenda-item a,
  .suggested-agenda-item a:link,
  .suggested-agenda-item a:visited {
      color: #002856 !important;
  }
  
  /* Mykes changes END */
  
  
  
  /* David Edits */
  
  /*#rf-catalog > div > div.main-content > div.total-results-count > span > span{display: none;}*/
  
  
  /*[id*='rf-'].rf-widget .catalog-result .badges,*/
  /*[id*='rf-'].rf-widget .session-details-page .badges,*/
  /*.rf-default-modal .catalog-result .badges,*/
  /*.rf-default-modal .session-details-page .badges {*/
  /*    display: block !important;*/
  /*}*/
  
  
  /*[id*='rf-'].rf-widget .catalog-result .badges .badge, .rf-default-modal .catalog-result .badges .badge {*/
  /*    display: none;*/
  /*}*/
  
  /*[id*='rf-'].rf-widget .catalog-result .badges .badge.rf-exhibitor-session, .rf-default-modal .catalog-result .badges .badge.rf-exhibitor-session {*/
  /*    display: block;*/
  /*    background: #FEC10D;*/
  /*}*/
  
  /*[id*='rf-'].rf-widget .catalog-result .badges .badge.rf-roundtable, .rf-default-modal .catalog-result .badges .badge.rf-roundtable {*/
  /*    display: block;*/
  /*    background: #FEC10D;*/
  /*}*/
  /*[id*='rf-'].rf-widget .catalog-result .badges .badge.rf-exclusive-gartner-solution-accelerator, .rf-default-modal .catalog-result .badges .badge.rf-exclusive-gartner-solution-accelerator-program {*/
  /*    display: block;*/
  /*    background: #FEC10D;*/
  /*}*/
  
  /*[id*='rf-'].rf-widget .catalog-result .badges .badge.rf-ciso-circle, .rf-default-modal .catalog-result .badges .badge.rf-ciso-circle {*/
  /*    display: block;*/
  /*    background: #FEC10D;*/
  /*}*/
  
  /*[id*='rf-'].rf-widget .catalog-result .badges .badge.rf-chro-circle, .rf-default-modal .catalog-result .badges .badge.rf-chro-circle {*/
  /*    display: block;*/
  /*    background: #FEC10D;*/
  
  /*}*/
  /*[id*='rf-'].rf-widget .catalog-result .badges .badge.rf-cio-experience, .rf-default-modal .catalog-result .badges .badge.rf-cio-experience {*/
  /*    display: block;*/
  /*    background: #FEC10D;*/
  /*}*/
  
  /*[id*='rf-'].rf-widget .catalog-result .badges .badge.rf-midsize-enterprise-program, .rf-default-modal .catalog-result .badges .badge.rf-midsize-enterprise-program {*/
  /*    display: block;*/
  /*    background: #FEC10D;*/
  /*}*/
  /*[id*='rf-'].rf-widget .catalog-result .badges .badge.rf-global-enterprise-executive-experience, .rf-default-modal .catalog-result .badges .badge.rf-global-enterprise-executive-experience {*/
  /*    display: block;*/
  /*    background: #FEC10D;*/
  /*}*/
  
  /*[id*='rf-'].rf-widget .catalog-result .badges .badge.rf-executive-programs, .rf-default-modal .catalog-result .badges .badge.rf-executive-programs {*/
  /*    display: block;*/
  /*    background: #FEC10D;*/
  /*}*/
  
  /*[id*='rf-'].rf-widget .catalog-result .badges .badge.rf-research-board, .rf-default-modal .catalog-result .badges .badge.rf-research-board {*/
  /*    display: block;*/
  /*    background: #FEC10D;*/
  /*}*/
  
  /*[id*='rf-'].rf-widget .catalog-result .badges .badge.rf-public-sector, .rf-default-modal .catalog-result .badges .badge.rf-public-sector {*/
  /*    display: block;*/
  /*    background: #FEC10D;*/
  /*}*/
  
  
  /* Kevin - hide reg code button on account page | code also added to Japan global branding profile -> workflow CSS */
  #participantPage .rfwf-reg-codes .mdBtnR {
      display: none;
  }
  /* end Kevin */