/* Gartner Solutions Specific */

.gartner-header .header-main-nav .header-sub-nav {
    max-width: 100%!important;
}
.gartner-header .header-main-nav .header-sub-nav a {
    padding: 0 4px!important;
}

/** Global Workflow CSS - 1 Jul 2021 - 10:00 - JP **/

/*Removal of white space from default*/
.flex-box-section-full-interior{
    width: 100%!important;
    padding: 0!important;
    max-width: 1600px!important;
}
.footer.grid-norm, nav.gartner-top-bar .nav-container.content-wrapper, .gartner-header .header-main-nav .content-wrapper {
    max-width: 1600px !important;
}
.flex-box-section-full{
    padding: 0 !important;
}
.flex-box-section{
    margin: 0!important;
}
.flex-box-child{
    padding: 0 !important;
    /*margin-top: -1px;*/
}
.flowplayer{
  margin-bottom: -5px!important;
}
.fp-play-1{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8)!important;
    opacity: .9;
    padding: 1em;
}

/*Header*/
.header-logo p {
    visibility: hidden; /* Hide the event title on initial load */
}
.gartner-header .header-main-nav .header-logo img{
    max-width: 120px!important;
}
.header-logo p{
    font-size: 14px!important;
    margin-block-start: .6em!important;
    margin-block-end: .6em!important;
}
.header-logo p strong{
    font-size: 18px!important;
}
@media (min-width: 769px){
.gartner-header .header-main-nav .content-wrapper{
      padding: 20px 30px 0;
    }
}
.header-logo{
    margin-top: 4px;
    margin-bottom: -6px;
}
.gartner-header .header-main-nav .header-sub-nav a {
    line-height: 1.8rem;
}
.gartner-header .header-main-nav .header-logo {
    padding-right: 10px;
    max-width: 50%;
}
.gartner-header .header-main-nav .header-sub-nav {
    max-width: 50%;
}

/*Nav*/
.header-sub-nav a.active{
    color: #999!important;
    border-left: 0!important;
    border-right: 0!important;
}
.rfwf-full-panel .rfwf-panel-interior, .grid-norm, .content-wrapper{
    padding-left: 20px!important;
    padding-right: 20px!important;
}
.gartner-header .gartner-top-bar a{
    font-weight: 400!important;
}

/*Link icons*/
a.subheading:before{
    background-image: url("https://static.rainfocus.com/gartner/virtual/assets/arrow-white.svg"); /*preload white arrow*/
}
a.subheading:before{
    background-image: url("https://static.rainfocus.com/gartner/virtual/assets/arrow-lemon.svg"); /*preload yellow arrow*/
}
a.subheading:before{
    background-image: url("https://static.rainfocus.com/gartner/skb21/static/staticfile/staticfile/arrow-green_1624380021654001IS2S.svg"); /*preload green arrow*/
}
a.subheading:before{
    background-image: url("https://static.rainfocus.com/gartner/svcs21/static/staticfile/staticfile/arrow-tangerine_16243871267410012atZ.svg"); /*preload orange arrow*/
}
a.subheading:before{
    display: block;
    position: absolute;
    left: -1.7em;
    top: 0.1em;
    width: 1.2em;
    height: 1.2em;
    content: '';
    background-image: url("https://static.rainfocus.com/gartner/virtual/assets/arrow-blue.svg"); /*blue arrow*/
    background-size: 100%;
    transition: margin-left .3s;
}
a.subheading:hover:before{
    background-image: url("https://static.rainfocus.com/gartner/virtual/assets/arrow-white.svg");
}
.grey-bg a.subheading:hover:before, .white-bg a.subheading:hover:before{
    background-image: url("https://static.rainfocus.com/gartner/virtual/assets/arrow-lemon.svg");
}
.gartnerblue-bg a.subheading:before{
    background-image: url("https://static.rainfocus.com/gartner/virtual/assets/arrow-white.svg");
}
.gartnerblue-bg a.subheading:hover:before{
    background-image: url("https://static.rainfocus.com/gartner/virtual/assets/arrow-lemon.svg");
}
.tangerine-bg a.subheading:before{
    background-image: url("https://static.rainfocus.com/gartner/virtual/assets/arrow-white.svg");
}
.tangerine-bg a.subheading:hover:before{
    background-image: url("https://static.rainfocus.com/gartner/virtual/assets/arrow-blue.svg");
}
.sky-icon a.subheading:hover:before, .sky-icon span.curate_link a:hover:before{
    background-image: url("https://static.rainfocus.com/gartner/virtual/assets/arrow-sky.svg");
}
.green-icon a.subheading:hover:before, .green-icon span.curate_link a:hover:before{
    background-image: url("https://static.rainfocus.com/gartner/skb21/static/staticfile/staticfile/arrow-green_1624380021654001IS2S.svg");
}
.tangerine-icon a.subheading:hover:before, .tangerine-icon span.curate_link a:hover:before{
    background-image: url("https://static.rainfocus.com/gartner/svcs21/static/staticfile/staticfile/arrow-tangerine_16243871267410012atZ.svg");
}

/*Backgrounds*/
.hero-bg{
    height: 38vw;
}
.hero-bg, .img-bg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

/* Flex Slider */
.flexslider{
    margin: 0;
    border: 0;
    border-radius: 0;
}
.flex-control-nav{
    bottom: 5%;
}
.slides{
    margin-left: -1px!important;
}
.flex-control-paging li a.flex-active{
    background-color:white!important;
}
.flex-control-paging {
  z-index: 2;
}

/*Absolute pos. block*/
.absolute-third{
    position: absolute;
    height: 100%;
    width: 33.33%;
}
.absolute-third-container {
    top: 18%;
    position: absolute;
}
.absolute-third-container .flex-control-nav{
    display:none; /*hide pagination on H1 block slider*/
}
/*Standard blocks*/
.title-block{
    min-height: 12.4vw;
    max-height: 16vw;
    padding-top: 3.8vw;
    overflow: hidden;
}
.cta-block{
    /*min-height: 12.4vw;
    max-height: 16vw;*/
    width: 100%;
}
/*Aside block*/
.left-img{
    background-repeat: no-repeat;
    background-size: 25%;
}
.left-img-txt{
    margin-left: 25%;
}
/*Promotion block*/
.promotion-block{
    padding: 3em;
    display: flex !important;
    height: 100% !important;
    min-height: 12vw !important;
}
.promotion-block .text-container{
    width: 85%;
    flex-grow: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.promotion-block .button-container{
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.promotion-block .headline{
    min-width: 50%;
    max-width: 70%;
    padding-right: 3rem;
}
.promotion-block .subheading{
    margin-right: 1em;
    margin-bottom: 0;
}
.promotion-block .block-btn{
    display: inline-block;
    font-size: 1.1vw;
    font-weight: 600;
    padding: 0.8em 2.5em;
    background: #032955;
    color: #fec10d;
    text-decoration: none!important;
    transition: background .3s;
    vertical-align: middle;
    white-space: nowrap;
}
.promotion-block .block-btn:hover{
    background: #002045;
    color: #fec10d;
}
.promotion-block .btn-lemon{
    background: #fec10d;
    color: #032955!important;
}
.promotion-block .btn-lemon:hover{
    background: #CB9A17!important;
    color: #032955!important;
}
.promotion-block .btn-sky-txt{
    background: #032955;
    color: #009AD7!important;
}
.promotion-block .btn-sky{
    background: #009AD7!important;
    color: #032955!important;
}
.promotion-block .btn-sky:hover{
    background: #007BAC!important;
    color: #032955!important;
}
.promotion-block .btn-green-txt{
    background: #032955;
    color: #d3db24!important;
}
.promotion-block .btn-green{
    background: #d3db24!important;
    color: #032955!important;
}
.promotion-block .btn-green:hover{
    background: #AEBA00!important;
    color: #032955!important;
}
.promotion-block .btn-tangerine-txt{
    background: #032955;
    color: #ff540A!important;
}
.promotion-block .btn-tangerine{
    background: #ff540A!important;
    color: #032955!important;
}
.promotion-block .btn-tangerine:hover{
    background: #CC4308!important;
    color: #032955!important;
}

/*Typography*/
.para h1, .para h2, .para h3, .para h4, .para h5, .para p, .para a.subheading{color:#032955!important;}
hr{margin: 2em 0!important; border: 1px solid #032955;}
h1.headline, .para h1{font-size: 3.6vw!important; line-height: 1.08em;margin-bottom: 0;}
h1.large-h1{font-size: 5vw!important;}
h2.headline, .para h2{font-size: 2.6vw!important; line-height: 1.08em;margin-bottom: 0;}
h3.headline, .para h3{font-size: 2vw!important; line-height: 1.08em;margin-bottom: 0;}
h4.headline, .para h4{font-size: 1.4vw!important; line-height: 1.08em;margin-bottom: 0;}
.subheading{font-size: 1.1vw!important; line-height: 1.08em;}
a.subheading{
    position: relative;
    display: block;
    line-height: 1.3em;
    text-decoration: none;
    margin-left: 2em;
    margin-top: 1.2em;
    transition: margin-left .3s;
}
a.subheading:hover{
    margin-left: 2.5em;
    text-decoration: none;
    transition: margin-left .3s;
}

div.section-heading{
    width: 93%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    margin-top: 2em;
    margin-left: 3em;
}
h2.section-heading{
    font-size: 2vw!important;
    color:#032955;
    padding: 1em 0;
}
h2.section-heading:after{
    content: '';
    display: inline-block;
    height: 0.8em;
    width: 100%;
    border-bottom: 0.12em solid #032955;
    position: absolute;
    margin-left: 0.5em;
}
div.noline h2.section-heading:after{
    border: 0!important;
}
div.tangerine h2.section-heading{
    color: #FF540A!important;
}

/*Text color*/
.lemon-txt{color:#fec10d!important;}
.gartnerblue-txt{color:#032955!important;}
.green-txt{color: #d3db24!important;}
.tangerine-txt{color: #ff540A!important;}
.white-txt{color:#fff!important;}
.focus-lemon{padding: 3%; border-left: 0.3em solid #fec10d; border-right: 0.3em solid #fec10d;}
.focus-white{padding: 3%; border-left: 0.3em solid white; border-right: 0.3em solid white;}
.focus-sky{padding: 3%; border-left: 0.3em solid #009AD7; border-right: 0.3em solid #009AD7;}

/*Block color*/
.lemon-bg{background-color: #fec10d;}
.grey-bg{background-color: #f4f4f4;}
.gartnerblue-bg{background-color: #032955;}
.sky-bg{background-color: #009ad7;}
.mint-bg{background-color: #c6d5d2;}
.sky-bg{background-color: #009AD7;}
.green-bg{background-color: #d3db24;}
.tangerine-bg{background-color: #ff540A!important;}

/*Block padding*/
.px10{padding-left: 10em; padding-right: 10em;}
.py10{padding-top: 10em; padding-bottom: 10em;}
.px9{padding-left: 9em; padding-right: 9em;}
.py9{padding-top: 9em; padding-bottom: 9em;}
.px8{padding-left: 8em; padding-right: 8em;}
.py8{padding-top: 8em; padding-bottom: 8em;}
.px7{padding-left: 7em; padding-right: 7em;}
.py7{padding-top: 7em; padding-bottom: 7em;}
.px6{padding-left: 6em; padding-right: 6em;}
.py6{padding-top: 6em; padding-bottom: 6em;}
.px5{padding-left: 5em; padding-right: 5em;}
.py5{padding-top: 5em; padding-bottom: 5em;}
.px4{padding-left: 4em; padding-right: 4em;}
.py4{padding-top: 4em; padding-bottom: 4em;}
.px3{padding-left: 3em; padding-right: 3em;}
.py3{padding-top: 3em; padding-bottom: 3em;}
.px2{padding-left: 2em; padding-right: 2em;}
.py2{padding-top: 2em; padding-bottom: 2em;}
.px1{padding-left: 1em; padding-right: 1em;}
.py1{padding-top: 1em; padding-bottom: 1em;}
.pt10{padding-top: 10em;}.pb10{padding-bottom: 10em;}.pll0{padding-left: 10em;}.pr10{padding-right: 10em;}
.pt9{padding-top: 9em;}.pb9{padding-bottom: 9em;}.pl9{padding-left: 9em;}.pr9{padding-right: 9em;}
.pt8{padding-top: 8em;}.pb8{padding-bottom: 8em;}.pl8{padding-left: 8em;}.pr8{padding-right: 8em;}
.pt7{padding-top: 7em;}.pb7{padding-bottom: 7em;}.pl7{padding-left: 7em;}.pr7{padding-right: 7em;}
.pt6{padding-top: 6em;}.pb6{padding-bottom: 6em;}.pl6{padding-left: 6em;}.pr6{padding-right: 6em;}
.pt5{padding-top: 5em;}.pb5{padding-bottom: 5em;}.pl5{padding-left: 5em;}.pr5{padding-right: 5em;}
.pt4{padding-top: 4em;}.pb4{padding-bottom: 4em;}.pl4{padding-left: 4em;}.pr4{padding-right: 4em;}
.pt3{padding-top: 3em;}.pb3{padding-bottom: 3em;}.pl3{padding-left: 3em;}.pr3{padding-right: 3em;}
.pt2{padding-top: 2em;}.pb2{padding-bottom: 2em;}.pl2{padding-left: 2em;}.pr2{padding-right: 2em;}
.pt1{padding-top: 1em;}.pb1{padding-bottom: 1em;}.pl1{padding-left: 1em;}.pr1{padding-right: 1em;}

/*Block margin*/
.mx10{margin-left: 10em!important; margin-right: 10em!important;}
.my10{margin-top: 10em!important; margin-bottom: 10em!important;}
.mx9{margin-left: 9em!important; margin-right: 9em!important;}
.my9{margin-top: 9em!important; margin-bottom: 9em!important;}
.mx8{margin-left: 8em!important; margin-right: 8em!important;}
.my8{margin-top: 8em!important; margin-bottom: 8em!important;}
.mx7{margin-left: 7em!important; margin-right: 7em!important;}
.my7{margin-top: 7em!important; margin-bottom: 7em!important;}
.mx6{margin-left: 6em!important; margin-right: 6em!important;}
.my6{margin-top: 6em!important; margin-bottom: 6em!important;}
.mx5{margin-left: 5em!important; margin-right: 5em!important;}
.my5{margin-top: 5em!important; margin-bottom: 5em!important;}
.mx4{margin-left: 4em!important; margin-right: 4em!important;}
.my4{margin-top: 4em!important; margin-bottom: 4em!important;}
.mx3{margin-left: 3em!important; margin-right: 3em!important;}
.my3{margin-top: 3em!important; margin-bottom: 3em!important;}
.mx2{margin-left: 2em!important; margin-right: 2em!important;}
.my2{margin-top: 2em!important; margin-bottom: 2em!important;}
.px1{margin-left: 1em!important; margin-right: 1em!important;}
.my1{margin-top: 1em!important; margin-bottom: 1em!important;}
.mt10{margin-top: 10em!important;}.mb10{margin-bottom: 10em!important;}.mll0{margin-left: 10em!important;}.mr10{margin-right: 10em!important;}
.mt9{margin-top: 9em!important;}.mb9{margin-bottom: 9em!important;}.ml9{margin-left: 9em!important;}.mr9{margin-right: 9em!important;}
.mt8{margin-top: 8em!important;}.mb8{margin-bottom: 8em!important;}.ml8{margin-left: 8em!important;}.mr8{margin-right: 8em!important;}
.mt7{margin-top: 7em!important;}.mb7{margin-bottom: 7em!important;}.ml7{margin-left: 7em!important;}.mr7{margin-right: 7em!important;}
.mt6{margin-top: 6em!important;}.mb6{margin-bottom: 6em!important;}.ml6{margin-left: 6em!important;}.mr6{margin-right: 6em!important;}
.mt5{margin-top: 5em!important;}.mb5{margin-bottom: 5em!important;}.ml5{margin-left: 5em!important;}.mr5{margin-right: 5em!important;}
.mt4{margin-top: 4em!important;}.mb4{margin-bottom: 4em!important;}.ml4{margin-left: 4em!important;}.mr4{margin-right: 4em!important;}
.mt3{margin-top: 3em!important;}.mb3{margin-bottom: 3em!important;}.ml3{margin-left: 3em!important;}.mr3{margin-right: 3em!important;}
.mt2{margin-top: 2em!important;}.mb2{margin-bottom: 2em!important;}.ml2{margin-left: 2em!important;}.mr2{margin-right: 2em!important;}
.mt1{margin-top: 1em!important;}.mb1{margin-bottom: 1em!important;}.ml1{margin-left: 1em!important;}.mr1{margin-right: 1em!important;}

/* Box of buttons */
.boxofbuttons-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.boxofbuttons {
    max-width: 1600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.boxofbuttons button {
    background-color: #002856;
    color: #FEC10D;
    border: 0;
    min-width: 300px;
    white-space: nowrap;
    margin: 1em 3em;
    font-size: 18px;
    padding: .7em 1em;
    transition: all .3s;
}
.fouracross button{
    min-width: 270px;
    margin: 1em;
}
.halfwidth button{
    min-width: 270px;
    margin: 1em;
}
.boxofbuttons button:hover {
    background-color: #FEC10D;
    color: #002856;
    cursor: pointer !important;
}
.boxofbuttons button span {
    font-weight: 600;
}
.sky button {
    color: white!important;
    background-color: #009AD7!important;
    border: 2px solid #009AD7!important;
}
.sky button:hover {
    background-color: white!important;
    color: #009AD7!important;
}
.green button {
    color: #032955!important;
    background-color: #d3db24!important;
    border: 2px solid #d3db24!important;
}
.green button:hover {
    color: #d3db24!important;
    background-color: #032955!important;
    border: 2px solid #032955!important;
}
.blue-green button {
    color: #d3db24!important;
    background-color: #032955!important;
    border: 2px solid #032955!important;
}
.blue-green button:hover {
    color: #032955!important;
    background-color: #d3db24!important;
    border: 2px solid #d3db24!important;
}
.tangerine button {
    color: white!important;
    background-color: #FF540A!important;
    border: 2px solid #FF540A!important;
}
.tangerine button:hover {
    color: white!important;
    background-color: #032955!important;
    border: 2px solid #032955!important;
}

/* 50/50 Box Container */
.boxContainer .flex-box-section-full-interior .flex-box-section .rf-grid-layout-50 > div {
  height: 100% !important;
}
.boxContainer .box1 {
  flex-grow: 1;
  background-color: #ababab;
  width: 100%; 
  display: flex;
  align-items: center;
  min-height: 10vw;
}
.boxContainer .boxSubContainer {
  flex-grow: 1;
  /* width: 100%; */ /* Remove this to stop boxSubContainer becoming the width of the slide */
  display: flex !important;
  height: 100% !important;
  min-height: 100% !important;
}
.boxContainer .box2 {
  flex-grow: 0;
  min-width: 13vw;
  min-height: 13vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.boxContainer .box3 {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
/* Allow flexslider to expand to the height of it's parent */
.boxContainer .flexslider {
 height: 100% !important;
 display: flex !important;
}
.boxContainer .flexslider .flex-viewport {
 height: 100% !important;
}
.boxContainer .flexslider .flex-viewport .slides {
 height: 100% !important;
 margin-left: 0px !important;
}
/* Hide flexslider pagination */
.boxContainer .flexslider .flex-control-paging {
  display: none;
}
/* JP Fix for flexslider not filling width on large screens */
.flexslider .slides {
    flex-grow: 1;
}

/* Meetings Card */
.rf-headline, .rf-tile, .rf-card .card-header, .rf-card .card-body, .rf-card .card-body-row {
    border: 0!important;
}
.rf-card .card-body {
    height: unset!important;
}
.rf-card {
    margin: 0 auto!important;
}
.rf-pill {
    border-radius: 0!important;
    vertical-align: bottom!important;
}
.rf-card .card-body .card-body-row {
    padding: 1em 3em!important;
    font-size: initial!important;
    display: inline-block!important;
}
.rf-card .card-body .card-body-row .value-description {
    text-transform: unset!important;
}
.rf-card .card-header {
    padding: 0 3em!important;
    width: auto;
    display: inline-block!important;
}
.rf-card .card-body.has-rows {
    width: auto;
    display: inline-block!important;
}
.card-header-title{
    display: none!important;
}
.value-description{
    color: #032955;
}
.rf-card.meeting-requests .card-header .mdBtnR {
    text-transform: capitalize;
}
.rf-card.meeting-requests .card-header .mdBtnR:hover,
.rf-card.meeting-requests .card-header .mdBtnR:focus {
    background-color: #CB9A17;
    border-color: #CB9A17;
    opacity: 1.0;
}
.rf-card.meeting-requests {
    display: flex;
    align-items: left;
    justify-content:left;
    margin-left: 3em!important;
    margin-bottom: 3em!important;
}
.rf-card.meeting-requests .card-header {
  flex-shrink: 1 !important;
  padding: 0 !important;
  margin: 0 !important;
  margin-right: 3em!important;
}
.rf-card.meeting-requests .card-header .mdBtnR-primary {
    min-width: 250px !important;
    border: 0;
    white-space: nowrap;
    margin: 1em 0;
    font-size: 18px;
    padding: .7em 1em;
}
.rf-card.meeting-requests .card-body {
  overflow: hidden;
}
.rf-card.meeting-requests .card-body-row {
   white-space: nowrap;
}
.rf-card.meeting-requests .card-body-row .rf-pill {
    padding: 1em 1em !important;
    margin-top: 0 !important;
}
.rf-card.meeting-requests .card-body-row .rf-pill-text {
   font-size: 18px;
}
.rf-card.meeting-requests .card-body-row .value-description {
   font-size: 18px;
   padding-bottom: 10px;
}

/* Twitter embed */
.twittercontainer{
    margin-right: 3em;
    margin-bottom: 3em;
}
.tintup{
    height: 372px!important;
    margin-top: 6px;
}

/*Kipsu chat - move to right*/
#kipsu-chat-button{left: unset;}
#kipsu-chat{left: unset;}

/* Change Kipsu button label */
#kipsu-chat-button {font-size: 0!important;}
#kipsu-chat-button:after {
    content: 'Ask Us';
    border: 2px solid #002856;
    border-radius: 2em;
    background-color: white;
    opacity: .7;
    color: #002856;
    position: fixed;
    cursor: pointer;
    height: initial;
    z-index: 800;
    bottom: 15px;
    right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    padding: 0 1.5em;
    display: inline-block;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    vertical-align: middle;
}

/* Footer */
.rf-org-footer-container{
    background: #f4f4f4;
}

/* Make rows with flexslider invisible until loaded */
.sliderHideTillLoaded {
  visibility: hidden;
}

/* Curate Your Experience - Start */
.curateYourExperience {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.curateYourExperience > .curate_nolink {
  flex-shrink: 1;
  position: relative;
  overflow: hidden;
}
.curateYourExperience > .curate_nolink img {
  width: 100%;
  display: block;
  border: 0;
}
.curateYourExperience > .curate_first {
  margin: 0 20px 0 0;
}
.curateYourExperience > .curate_last {
  margin: 0 0 0 20px;
}
.curateYourExperience > .curate_middle {
  margin: 0 20px 0 20px;
}
.curate_holder {
  position: absolute;
  background-color: rgba(250,250,250,0.75);
  overflow: hidden;
  width: 100%;
  height: 100%;
  top:50%;
  transition: all .5s ease;
}
.curate-holder-blue .curate_holder {
  background-color: rgba(3,41,85,0.75);
}
.curateYourExperience .curate_nolink:hover .curate_holder,
.curateYourExperience .curate_nolink:focus .curate_holder {
  top: 0;
  background-color: rgba(250,250,250,0.95);
}
.curate-holder-blue .curateYourExperience .curate_nolink:hover .curate_holder,
.curate-holder-blue .curateYourExperience .curate_nolink:focus .curate_holder {
  top: 0;
  background-color: rgba(3,41,85,0.75);
}
.curate_title,
.curate_link {
  display: block;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  font-weight: 600;
  color: #032955;
  line-height: 150%;
}
.curate_title{
  text-align: center;
}
.curate-holder-blue .curate_title,
.curate-holder-blue .curate_link {
  color: white!important;
}
.curate_link a, #modalCurate .modal-body a{
  position: relative;
  color: #032955!important;
  font-weight: 400;
  font-size: 1.1vw!important;
  line-height: 1.3em;
  margin-left: 3em;
  padding-right: 2em;
  transition: margin-left .3s;
  max-width: 70%;
}
.curate-holder-blue .curate_link a{
  color: white!important;   
}
#modalCurate .modal-body a{
  margin-left: 1.5em;
  font-size: 14px!important;
}
.curate_link a:before, #modalCurate .modal-body a:before{
    display: block;
    position: absolute;
    left: -1.7em;
    top: 0.1em;
    width: 1.2em;
    height: 1.2em;
    content: '';
    background-image: url("https://static.rainfocus.com/gartner/virtual/assets/arrow-blue.svg");
    background-size: 100%;
    transition: margin-left .3s;
}
.curate-holder-blue .curate_link a:before{
    background-image: url("https://static.rainfocus.com/gartner/virtual/assets/arrow-white.svg");
}
.curate_link a:hover, #modalCurate .modal-body a:hover{
  color: #032955;
  text-decoration: none;
  margin-left: 4em;
}
#modalCurate .modal-body a:hover{
  margin-left: 2em;
}
.curate_link a:hover:before, #modalCurate .modal-body a:hover:before{
    background-image: url("https://static.rainfocus.com/gartner/virtual/assets/arrow-lemon.svg");
}

/* Modal close button*/
#modalCurate .modal-footer .mdBtnR {
  background-color: #FFFFFF;
  text-transform: none !important;
  border-color: #032955 !important;
  opacity: 1.0;
  letter-spacing: 0 !important;
}
#modalCurate .modal-footer .mdBtnR:hover, 
#modalCurate .modal-footer .mdBtnR:focus {
  background-color: #032955;
  color: #FFFFFF;
  opacity: 1.0;
}

@media all and (min-width: 1600px) {
  .curate_title, .curate_link{
    font-size: 24px;
  }
  .curate_link a {
    font-size: 16px!important;
  }
}

@media all and (max-width: 549px) {
  .curateYourExperience {
    flex-direction: column;
  }
  .curateYourExperience > .curate_first,
  .curateYourExperience > .curate_last,
  .curateYourExperience > .curate_middle {
    margin: 10px 50px 10px 50px;
  }
  .curate_title,
  .curate_link {
    font-size: 24px;
  }
  .curate_link a {
    font-size: 16px!important;
  }
}

/* Curate Your Experience - End */

/* Solution Provider Flex Slider - Start */
.solutionProviders {
  background-color: #EFEFEF;
  padding: 1%;
}
.solutionProviders li {
  display: flex !important;
}
.solutionProviders li a {
  width: 20%;
  display: block;
  padding: 1%;
}
.solutionProviders li a img {
  display: block;
  width: 100%;
  border: 0;
}

@media all and (max-width: 549px) {
  .solutionProviders {
    background-color: #FFFFFF;
    padding: 15px;
  }
  .solutionProviders li {
    flex-direction: column;
    align-items: center;
  }
  .solutionProviders li a {
    width: 60%;
    background-color: #EFEFEF;
    padding: 15px;
    padding-top: 0;
  }
  .solutionProviders li a:first-of-type {
    padding-top: 15px;
  }
}

.solutionProviders.flexslider .flex-control-paging,
.solutionProviders.flexslider .flex-direction-nav {
  display: none;
}
/* Solution Provider Flex Slider - End */

/* Targeted Agenda - Sessions Start */

/* section header */
.grid-targeted-agenda .targeted-agenda-headline h2 {
   font-size: 2vw!important;
   color: #032955;
   padding: 1em 0; 
}
.grid-targeted-agenda .targeted-agenda-headline h2:after {
    content: '';
    display: inline-block;
    height: 0.8em;
    width: 100%;
    border-bottom: 0.12em solid #032955;
    position: absolute;
    margin-left: 0.5em;
}
.grid-targeted-agenda .targeted-agenda-header {
    width: 93%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    margin-top: 2em;
    margin-left: 3em;
    margin-bottom: 1rem !important;
}
@media (min-width: 1600px) {
   .grid-targeted-agenda .targeted-agenda-headline h2{font-size: 40px!important;}
}

@media (max-width: 768px) {
   .grid-targeted-agenda .targeted-agenda-headline h2{font-size: 24px!important;}
}
@media (max-width: 360px) {

}

/* Make TA header behave the same as a section header */
@media (max-width: 768px) {
  .targeted-agenda-header {
    width: 82% !important;
  }
}

/* Adjust sizing of avatar images (max 4 per session) */
.workflow-targeted-agenda .rf-tile-container .rf-tile .rf-tile-avatars .rf-tile-avatar {
  flex-shrink: 0;
}
@media (max-width: 768px) {
  .workflow-targeted-agenda .rf-tile-container .rf-tile .rf-tile-avatars .rf-tile-avatar {width:80px; height:80px; margin-top: -10px;}
}
@media (min-width: 769px) {
  .workflow-targeted-agenda .rf-tile-container .rf-tile .rf-tile-avatars .rf-tile-avatar {width:60px; height:60px;}
}
@media (min-width: 1022px) {
  .workflow-targeted-agenda .rf-tile-container .rf-tile .rf-tile-avatars .rf-tile-avatar {width:50px; height:50px;}
}
@media (min-width: 1100px) {
  .workflow-targeted-agenda .rf-tile-container .rf-tile .rf-tile-avatars .rf-tile-avatar {width:56px; height:56px;}
}
@media (min-width: 1400px) {
  .workflow-targeted-agenda .rf-tile-container .rf-tile .rf-tile-avatars .rf-tile-avatar {width:80px; height:80px; margin-top: -10px;}
}
@media (min-width: 1550px) {
  .workflow-targeted-agenda .rf-tile-container .rf-tile .rf-tile-avatars .rf-tile-avatar {width:90px; height:90px; margin-top: -15px;}
}

/* Card row */
.grid-targeted-agenda .rf-tile-container{
    width: 90%;
    margin: 0 auto;
}

/* Session Time */
.grid-targeted-agenda .session-time {
  text-transform: uppercase;
  font-weight: bold !important; 
}

/* Stop the +X speakers looking like a link */
.grid-targeted-agenda .rf-tile-avatars .rf-tile-avatar:nth-of-type(4) {
  cursor: auto;
}

/* square the corners */
.grid-targeted-agenda .targeted-agenda-details-card {
  border-radius: 0;
}

/* lose bottom margin */
.grid-targeted-agenda .targeted-agenda-section {
  margin-bottom: 0;
}

/* FIx layout of oddly proportioned images */
.grid-targeted-agenda .rf-tile-avatar {
  display: flex;
  align-items: center;
}

/* stop date wrapping oddly*/
.grid-targeted-agenda .session-date {
  flex-shrink: 0;
}

/* All buttons */
.grid-targeted-agenda .mdBtnR {
    padding: 8px 34px 8px 34px !important;
}
.grid-targeted-agenda .mdBtnR-text {
   text-transform: none;
   letter-spacing: 0;
}

/* session schedule button */
.grid-targeted-agenda .session-schedule {
  background-color: #FEC10D;
  border-color: #FEC10D !important;
}
.agendaSky .grid-targeted-agenda .session-schedule {
  background-color: #009AD7;
  border-color: #009AD7 !important;
}
.grid-targeted-agenda .session-schedule:hover,
.grid-targeted-agenda .session-schedule:focus {
  background-color: #002856;
  border-color: #002856 !important;
}
.agendaSky .grid-targeted-agenda .session-schedule:hover,
.agendaSky .grid-targeted-agenda .session-schedule:focus {
  background-color: #002856;
  border-color: #002856 !important;
}
.grid-targeted-agenda .session-schedule:hover .mdBtnR-text,
.grid-targeted-agenda .session-schedule:focus .mdBtnR-text {
  color: #FEC10D !important;
}
.agendaSky .grid-targeted-agenda .session-schedule:hover .mdBtnR-text,
.agendaSky .grid-targeted-agenda .session-schedule:focus .mdBtnR-text {
  color: #009AD7 !important;
}

/* session scheduled button */
.grid-targeted-agenda .session-scheduled {
  background-color: #002856;
  border-color: #002856 !important;
}
.grid-targeted-agenda .session-scheduled .rfSI svg {
   fill: #FEC10D;
}
.agendaSky .grid-targeted-agenda .session-scheduled .rfSI svg {
    fill: #009AD7;
}
.grid-targeted-agenda .session-scheduled .mdBtnR-text {
   color: #FEC10D;
}
.agendaSky .grid-targeted-agenda .session-scheduled .mdBtnR-text {
    color: #009AD7;
}
.grid-targeted-agenda .session-scheduled:hover,
.grid-targeted-agenda .session-scheduled:focus {
  background-color: #FEC10D;
  border-color: #FEC10D !important;
  opacity: 1.0;
}
.agendaSky .grid-targeted-agenda .session-scheduled:hover,
.agendaSky .grid-targeted-agenda .session-scheduled:focus {
  background-color: #009AD7;
  border-color: #009AD7 !important;
}
.grid-targeted-agenda .session-scheduled:hover .rfSI svg,
.grid-targeted-agenda .session-scheduled:focus .rfSI svg  {
   fill: #002856;
}
.grid-targeted-agenda .session-scheduled:hover .mdBtnR-text,
.grid-targeted-agenda .session-scheduled:focus .mdBtnR-text {
  color: #002856;
  opacity: 1.0;
}

/* New title styles */
.rf-tile-container .rf-tile .rf-tile-title a {
  color: #002856 !important;
}

/* Headshots */
/*.grid-targeted-agenda .rf-tile-container .rf-tile .rf-tile-avatars .rf-tile-avatar {
  width: 20%;
  height: 20%;
  margin-top: -4%;
}*/

/* love heart */
.grid-targeted-agenda .favorite-session.favorited svg {
  fill: #FEC10D !important;
}
.agendaSky .grid-targeted-agenda .favorite-session.favorited svg {
 fill: #009AD7 !important;
}

/* Modal buttons */
.rf-default-modal .modal-footer .cancel {
  background-color: #FFFFFF;
  text-transform: none;
  border-color: #032955;
  opacity: 1.0;
  letter-spacing: 0;
}
.rf-default-modal .modal-footer .cancel:hover {
  background-color: #032955;
  opacity: 1.0;
}
.rf-default-modal .modal-footer .cancel:hover .mdBtnR-text {
  color: #FFFFFF !important;
}
.rf-default-modal .modal-footer .confirm {
  background-color: #FFFFFF;
  text-transform: none;
  border-color: #032955;
  opacity: 1.0;
  letter-spacing: 0;
}
.rf-default-modal .modal-footer .confirm:hover {
  background-color: #032955;
  opacity: 1.0;
}
.rf-default-modal .modal-footer .confirm:hover .mdBtnR-text {
  color: #FFFFFF !important;
}

/** Exhibitor Targeted Agenda - Start */

/* Exhibitor Explore More Button */
.grid-targeted-agenda .exhibitor-tile .exhibitor-tile-view-booth {
    background-color: #FFFFFF !important;
    text-transform: none;
    border-color: #032955 !important;
    letter-spacing: 0;
}
.grid-targeted-agenda .exhibitor-tile .exhibitor-tile-view-booth:hover {
    background-color: #032955 !important;
}
.grid-targeted-agenda .exhibitor-tile .exhibitor-tile-view-booth:hover .mdBtnR-text {
    color: #FFFFFF !important;
}

/* Exhibitor Heart */
.grid-targeted-agenda .exhibitor-tile .favorite-catalog-result.favorited svg {
  fill: #FEC10D !important;
}
.agendaSky .grid-targeted-agenda .exhibitor-tile .favorite-catalog-result.favorited svg {
 fill: #009AD7 !important;
}

/* Name link - Applied to all */
.grid-targeted-agenda .exhibitor-tile .rf-tile-title a:hover {
  cursor: pointer !important;
  color: #0052D6 !important;
}

/* Tile Image - Requires custom class  */
.featuredSolutionProviders .rf-tile .rf-tile-banner {
  min-height: 100px !important;
  max-height: 180px !important; 
  height: fit-content !important;
}

/*Feedback widget*/
.fb-list-group h3{
  font-size: 2vw!important;
  color:#032955;
}
.fb-list-group p{
  color:#032955;
}
.fb-list-group:nth-of-type(1){
  margin-bottom: 1em;
}
.feedback-left .fb-list-group:nth-of-type(2){
    display: none;
}
.feedback-right .fb-list-group:nth-of-type(1){
    display: none;
}
.feedback-two-col .fb-list-group h3{
    background: #ededed;
    padding: 2em;
    font-size: 1.3vw!important;
    line-height: 1.08em;
    margin-bottom: 0;
}

/* Discover More */
.discover-more-row{
    background
}

/*----------------Media Queries----------------*/

/*Large Displays*/
@media (min-width: 1601px) {
    .hero-bg{height: 36em;}
    h1.headline, .para h1, h1.large-h1{font-size: 58px!important;}
    h2.headline, .para h2{font-size: 40px!important;}
    h2.section-heading{font-size: 40px!important;}
    h3.headline, .para h3, .fb-list-group h3{font-size: 30px!important;}
    h4.headline, .para h4{font-size: 16px!important;}
    .subheading{font-size: 16px!important;}
    .flex-viewport{max-height: 800px!important;}
    .flexslider .headline{top: 2em!important;}
    .boxContainer .box2{min-width: 22%; min-height: 100%;} /*investigate*/
    .boxContainer .box3{min-height: 11em;}
    .promotion-block{min-height: 12em!important;}
    .promotion-block .block-btn{font-size: 16px;}
}

/*Mobile/Tablet screens*/
@media (max-width: 768px) {
    /* Blue Header - Mobile View */
    .gartner-header li.account-link img {max-height: 15px;display: inline-block;margin-right: 8px;}
    .gartner-header .gartner-top-bar ul {display: flex;flex-wrap: wrap;}
    .gartner-header .gartner-top-bar ul li {flex-shrink: 0;flex-grow: 0;padding: 0 18px 4px 0;}
    .gartner-header .header-main-nav .content-wrapper {padding-top: 30px !important;}
    .gartner-header .header-main-nav .header-sub-nav a {padding-left: 0 !important;padding-right: 16px !important;line-height: 1.8rem;} 
    .gartner-header .header-main-nav .header-logo, .gartner-header .header-main-nav .header-sub-nav {max-width: 100%;}
    .gartner-header .header-main-nav .header-sub-nav {margin-top: 2em;}
    .gartner-header .header-logo p {font-size: 14px!important;}
    .rf-card.meeting-requests{display: block;}
    .rf-card .card-body .card-body-row {padding-left: 0!important;}
    h1.headline, .para h1, h1.large-h1{font-size: 31px!important;}
    h2.headline, .para h2{font-size: 24px!important;}
    h2.section-heading{font-size: 24px!important;}
    h3.headline, .para h3{font-size: 21px!important;}
    h3.section-heading{font-size: 21px!important;}
    h4.headline, .para h4{font-size: 16px!important;}
    .subheading{font-size: 13px!important;}
    .absolute-third{position: relative;height: inherit;width: inherit;}
    .absolute-third-container {position: unset;}
    .hero-bg {height: 20em;}
    .boxContainer .box2{min-width: 25%;}
    .boxContainer .box3 {min-height: 10em;}
    /*CTA blocks*/
    .promotion-block .headline, .promotion-block .subheading{width: 100%;padding-bottom: 1em;}
    .promotion-block .block-btn{font-size: 13px;max-width: none;}
    .twittercontainer{margin-right: 0;margin-bottom: 0;}
    div.section-heading {width: 82%;}
    .promotion-block {display: block !important;}
    .promotion-block .text-container {width: 100%!important;margin-bottom: 1em; flex-direction: column; align-items: start;}
    .promotion-block .button-container {width: 100%!important; flex-direction: row; align-items: start;}
    .promotion-block .headline {max-width: 100%!important;padding-right: 0;}
}

/*Phone screens*/
@media (max-width: 360px) {
    .boxContainer .box2 {display: none;}
    .hero-bg {height: 30em;}
    h1.headline, .para h1, h1.large-h1 {font-size: 26px!important;}
    div.section-heading {width: 75%;}
}

/* Gartner Solutions */

/* Expand boxes to allow height matching, 50% already done */
.boxContainer .flex-box-section-full-interior .flex-box-section .rf-grid-layout-33 > div,
.boxContainer .flex-box-section-full-interior .flex-box-section .rf-grid-layout-66 > div,
.boxContainer .flex-box-section-full-interior .flex-box-section .rf-grid-layout-25 > div {
  height: 100% !important;
}

/* Solutions Links - Custom Class */
.solutionsSectionRow .flex-box-section-full-interior .flex-box-section .rf-grid-layout-33 > div {
  height: 100% !important;
}
.solutionsSectionRow {
  margin-bottom: 2rem;
}

/* Override default p tag colour */
.solutionsSectionTop p,
.solutionsSectionBottom p {
  color: inherit !Important;
}

/* Solutions Section links */
.solutionsSectionLink {
  height: 100%;
  min-height: 135px;
  display: flex;
  align-items: center;
}
.solutionsSectionLink a.subheading {
  margin-top: 0;
  width: 100%;
  font-size: 19px !important;
}
.solutionsSectionLink a:focus {
  text-decoration: none;
}
.solutionsSectionLink a.subheading:before {
  background-image: url("https://static.rainfocus.com/gartner/virtual/assets/arrow-white.svg");
  top: 0;
}
.solutionsSectionLink a.subheading.lemon-arrow-hover:hover:before,
.solutionsSectionLink a.subheading.lemon-arrow-hover:focus:before {
  background-image: url("https://static.rainfocus.com/gartner/virtual/assets/arrow-lemon.svg");
}
.solutionsSectionLink a.subheading.lemon-arrow-hover:after {
  content: url("https://static.rainfocus.com/gartner/virtual/assets/arrow-lemon.svg");
  display: none;
}
.solutionsSectionLink a.subheading.sky-arrow-hover:hover:before,
.solutionsSectionLink a.subheading.sky-arrow-hover:focus:before {
  background-image: url("https://static.rainfocus.com/gartner/virtual/assets/arrow-sky.svg");
}
.solutionsSectionLink a.subheading.sky-arrow-hover:after {
  content: url("https://static.rainfocus.com/gartner/virtual/assets/arrow-sky.svg");
  display: none;
}
@media (max-width: 768px) {
  .solutionsSectionLink {
    min-height: 120px;
  }
}


/* Solutions Section Headers */
.solutionsSectionHeader {
  background-color: #535A5A;
}
.solutionsSectionHeader > div > span {
  font-weight: 700;
  font-size: 19px !important;
  display: block;
}
.solutionsNameAnchor {
  height: 1px;
  overflow: hidden;
}
@media (min-width: 769px) {
  .solutionsSectionRow > .flex-box-section-full-interior .rf-grid-layout-33:nth-of-type(2) {
    width: 33.34%;
  }
}

/* Solutions Section */
.solutionsSectionTop > .flex-box-section-full-interior {
  padding-top: 2rem !important;
  padding-bottom: 1rem !important;
  background-color: #EEEEEE;
}
.solutionsSectionBottom > .flex-box-section-full-interior {
  background-color: #EEEEEE;
}
.solutionsSectionBottom {
  margin-bottom: 2rem;
}
.solutionsIntro {
  font-size: 19px;
}
.solutionsSectionTop img {
  display: block;
  border: 0;
  width: 100%;
}
/* set transform origin for when shrunk */
.solutionsSectionTop .fp-play-1 {
  transform-origin: bottom left;
}
@media (max-width: 768px) {
  .solutionsSectionTop > .flex-box-section-full-interior .rf-grid-layout-33:nth-of-type(2) {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
}

/* Buttons */
.solutionsSectionTop .block-btn {
  display: inline-block;
  font-size: 1.1vw;
  font-weight: 600;
  padding: 0.8em 2.5em;
  background: #032955;
  color: #FFFFFF;
  text-decoration: none !important;
  transition: .3s;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  border: 2px solid;
  border-color: #032955;
  margin-bottom: 1rem;
}
.solutionsSectionTop .block-btn:hover,
.solutionsSectionTop .block-btn:focus {
  background: #FFFFFF;
  color: #032955;
  border-color: #032955;
}
.solutionsSectionTop .btn-lemon {
  background: #fec10d;
  color: #032955 !important;
  border-color: #fec10d;
}
.solutionsSectionTop .btn-lemon:hover,
.solutionsSectionTop .btn-lemon:focus {
  background-color: #002045 !important;
  color: #fec10d !important;
  border-color: #002045;
}
.solutionsSectionTop .btn-sky-txt {
  background: #032955;
  color: #FFFFFF !important;
  border-color: #032955;
}
.solutionsSectionTop .btn-sky {
  background: #009AD7 !important;
  color: #FFFFFF !important;
  border-color: #009AD7;
}
.solutionsSectionTop .btn-sky:hover,
.solutionsSectionTop .btn-sky:focus {
  background: #FFFFFF !important;
  color: #009AD7 !important;
  border-color: #009AD7;
}
@media (max-width: 768px) {
  .solutionsSectionTop .block-btn {
    font-size: 13px;
    max-width: none;
  }
}
@media (min-width: 1601px) {
  .solutionsSectionTop .block-btn {
    font-size: 16px;
  }
}

/* Download links */
.solutionsDownloadLinks a {
  display: block;
  margin-bottom: 10px;
  margin-left: 25px;
  color: #032955 !important;
}
.solutionsDownloadLinks a:last-of-type {
  margin-bottom: 0px;
}
.solutionsDownloadLinks a:hover,
.solutionsDownloadLinks a:focus {
  color: #0052D6 !important;
  text-decoration: none;
}
.solutionsDownloadLinks a:before {
  content: '';
  background-image: url('https://static.rainfocus.com/gartner/csus21v/static/staticfile/staticfile/downloadfile_1620393355002001nex7.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  position: absolute;
  display: inline-block;
  margin-left: -25px;
  margin-top: 2px;
  fill: #FF0000 !important;
}

/* Accordion */
.solutionsAccordionHolder {
  display: block;
  width: 100%;
}
.solutionsAccordion {
  color: #032955 !important;
  cursor: pointer;
  width: 100%;
  border: none;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.3rem;
  padding-bottom: 2.5rem;
}
.solutionsAccordion:hover,
.solutionsAccordion:focus {
  color: #0052D6 !important;
}
.solutionsAccorionArrow:after {
  content: '';
  height: 30px;
  width: 30px;
  background-image: url('https://static.rainfocus.com/gartner/csus21v/static/staticfile/staticfile/Accorion_down_1620398746374001hdTm.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  margin-top: 20px;
  margin-left: -15px;
  left: 50%;
}
.solutionsAccorionArrow:before {
  content: 'View More';
  font-weight: 600;
}
.solutionsAccordionactive .solutionsAccorionArrow:before {
  content: 'View Less';
}
.solutionsAccordionactive .solutionsAccorionArrow:after {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}
.solutionsAccordionPanel {
  color: #032955 !important;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.solutionsAccordionPanel h3 {
  color: #032955 !important;
}
.solutionsAccordionPanel a {
  color: #032955 !important;
  text-decoration: underline;
}
.solutionsAccordionPanel a:hover,
.solutionsAccordionPanel a:focus {
  color: #0052D6 !important;
}
.solutionsAccordionPanel ul {
  padding-top: 10px;
}
.solutionsAccordionPanel ul li {
  list-style: disc outside none !important;
  padding-bottom: 10px;
  color: #032955;
}

/* Gartner Member Experience - Start */

/* Top Video Row */
.memberVideoRow .flex-box-child > div {
  height: 100%;
  background-color: #535A5A;
}
.memberME1 {
  position: relative;
}
.memberME1 img {
  display: block;
  border: 0;
  width: 100%;
}
.memberME1 h1 {
  position: absolute;
  top: 16%;
  left: 8%;
  width: 62%;
  font-size: 2.8vw;
}
@media (max-width: 768px) {
  .memberME1 h1 {
    font-size: 20px;
    width: 80%;
  }
}
@media (min-width: 1601px) {
  .memberME1 h1 {
    font-size: 45px;
  }
}

.memberVideoRow .memberLinkBox {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.memberVideoRow .memberLinkBox h1 {
  font-size: 2.3vw;
  margin-bottom: 0;
}
 .memberVideoRow .memberVideoRowLink {
  display: flex;
  align-items: center !important;
  align-content: center !important;
  margin-top: 0.5vw !important;
}
.memberVideoRow .memberVideoRowLink a {
  margin-top: 0;
}
.memberVideoRow .memberVideoRowLink a:focus {
  text-decoration: none;
}
.memberVideoRow .memberVideoRowLink a.subheading:before,
.memberVideoRow .memberVideoRowLink a.subheading:hover:before,
.memberVideoRow .memberVideoRowLink a.subheading:focus:before {
  background-image: url("https://static.rainfocus.com/gartner/virtual/assets/arrow-white.svg");
  top: 0;
}
.memberVideoRow .memberVideoRowLink img {
  display: block;
  border: 0;
  width: 1.5vw;
  margin-right: 10px;
}
.memberVideoRow .fp-play-1 {
  transform-origin: bottom left;
}
@media (max-width: 768px) {
  .memberVideoRow .memberVideoRowLink img {
    width: 32px;
  }
  .memberVideoRow .memberLinkBox h1 {
    font-size: 38px;
  }
  .memberVideoRow .memberVideoRowLink {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
  }
}
@media (min-width: 1601px) {
  .memberVideoRow .memberVideoRowLink img {
    width: 32px;
  }
  .memberVideoRow .memberLinkBox h1 {
    font-size: 38px;
  }
}

/* Member Benefits Row  */
@media (min-width: 769px) {
  .memberBenefitsRow > .flex-box-section-full-interior .rf-grid-layout-33:nth-of-type(2) {
    width: 33.34%;
  }
  .memberBenefitsRow > .flex-box-section-full-interior .rf-grid-layout-33:nth-of-type(3) {
    width: 33.33%;
  }
}
.memberBenefitsRow img {
  width: 100%;
  display: block;
  border: 0;
}
.memberBenefitsRow .membersPartRollup {
  position: relative;
  overflow: hidden;
}
.memberBenefitsRow .membersPartRollupHolder {
  position: absolute;
  background-color: #000000;
  background-color: rgba(0,0,0,0.5);
  overflow: hidden;
  width: 100%;
  height: 25%;
  top: 100%;
  transition: all .5s ease;
}
.memberBenefitsRow .membersPartRollup:hover .membersPartRollupHolder,
.memberBenefitsRow .membersPartRollup:focus .membersPartRollupHolder {
  top: 75%;
}
.memberBenefitsRow .membersPartRollupHolder {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  align-content: center;
  overflow: hidden;
  align-items: center
}
.memberBenefitsRow a {
  margin-top: 0;
  max-width: 80%;
}
.memberBenefitsRow .membersPartRollupHolder a:focus {
  text-decoration: none;
}
.memberBenefitsRow .membersPartRollupHolder a.subheading:before,
.memberBenefitsRow .membersPartRollupHolder a.subheading:hover:before,
.memberBenefitsRow .membersPartRollupHolder a.subheading:focus:before {
  background-image: url("https://static.rainfocus.com/gartner/virtual/assets/arrow-white.svg");
  top: 0;
}
.memberBenefitsRow .membersPartRollup h3 {
  position: absolute;
  top: 25%;
  left: 8%;
  width: 50%;
}
@media (max-width: 768px) {
  .memberBenefitsRow .membersPartRollup h3,
  .memberBenefitsRow .memberSliderPanel h3 {
    font-size: 20px !important;
    top: 15% !important;
  }
}
@media (min-width: 1601px) {
  .memberBenefitsRow .membersPartRollup h3,
  .memberBenefitsRow .memberSliderPanel h3 {
    font-size: 32px !important;
  }
}
.memberBenefitsRow .hideNav .flex-control-nav,
.memberBenefitsRow .hideNav .flex-direction-nav {
  display: none;
}
.memberBenefitsRow .flexslider,
.memberBenefitsRow .flexslider .slides,
.memberBenefitsRow .flexslider .slides li {
  height: 100%;
  flex-grow: 1;
}
.memberBenefitsRow .flex-box-section-full-interior .flex-box-section .rf-grid-layout-33 > div {
  height: 100% !important;
}
@media (max-width: 768px) {
  .memberBenefitsRow .memberSliderPanel  {
     top: 15% !important;
  }
}
.memberBenefitsRow .memberSliderPanel {
  position: absolute;
  top: 25%;
  left: 8%;
  width: 84%;
}
.memberBenefitsRow .memberSliderPanel a {
  margin-top: 14px !important;
}
.memberBenefitsRow .membersPartRollupHolder a {
  margin-top: 0 !important;
}
.memberBenefitsRow .memberSliderPanel a:focus {
  text-decoration: none;
}
.memberBenefitsRow .memberSliderPanel .memberMainContent {
  display: block;
  margin-top: 14px;
  line-height: 130%;
  font-size: 1.2vw
}
@media (max-width: 768px) {
  .memberBenefitsRow .memberSliderPanel .memberMainContent {
    font-size: 16px;
  }
}
@media (min-width: 1601px) {
  .memberBenefitsRow .memberSliderPanel .memberMainContent {
    font-size: 19px;
  }
}
.memberBenefitsRow img.shim {
  display: none;
}
@media (max-width: 768px) {
  .memberBenefitsRow img.shim {
    display: block;
  }
}
.memberBenefitsRow a.white-to-blue-arrow:focus {
  text-decoration: none;
}
.memberBenefitsRow a.subheading.white-to-white-arrow:before,
.memberBenefitsRow a.subheading.white-to-white-arrow:hover:before,
.memberBenefitsRow a.subheading.white-to-white-arrow:focus:before {
  background-image: url("https://static.rainfocus.com/gartner/virtual/assets/arrow-white.svg");
  top: 0;
}
.memberBenefitsRow a.subheading.blue-to-blue-arrow:before,
.memberBenefitsRow a.subheading.blue-to-blue-arrow:hover:before,
.memberBenefitsRow a.subheading.blue-to-blue-arrow:focus:before {
  background-image: url("https://static.rainfocus.com/gartner/virtual/assets/arrow-blue.svg");
  top: 0;
}
.memberBenefitsRow .flex-control-paging li a {
  background-color: #8d8d8d;
  background-color: rgba(141, 141, 142, 1.0);
}

/* Announcements Row */
.memberAnnouncementsRow .flexslider,
.memberAnnouncementsRow .flexslider .slides,
.memberAnnouncementsRow .flexslider .slides li {
  height: 100%;
  flex-grow: 1;
}
@media (min-width: 769px) {
  .memberAnnouncementsRow > .flex-box-section-full-interior .rf-grid-layout-66 {
    width: 66.67%;
  }
}
.memberAnnouncements {
  position: relative;
  height: 100%;
}
.memberAnnouncementPanel {
  position: absolute;
  top: 25%;
  left: 8%;
  width: 84%;
}
.memberAnnouncementPanel h3 {
  width: 100%;
}
@media (max-width: 768px) {
  .memberAnnouncementPanel {
    top: 15%;
  }
  .memberAnnouncementsRow .memberAnnouncementPanel h3 {
    font-size: 20px !important;
  }
}
@media (min-width: 1601px) {
  .memberAnnouncementsRow .memberAnnouncementPanel h3 {
    font-size: 32px !important;
  }
}
.memberAnnouncementPanel a.subheading.white-to-white-arrow:before,
.memberAnnouncementPanel a.subheading.white-to-white-arrow:hover:before,
.memberAnnouncementPanel a.subheading.white-to-white-arrow:focus:before {
  background-image: url("https://static.rainfocus.com/gartner/virtual/assets/arrow-white.svg");
  top: 0;
}
.memberAnnouncementsRow .flex-box-section-full-interior .flex-box-section .rf-grid-layout-66 > div,
.memberAnnouncementsRow .flex-box-section-full-interior .flex-box-section .rf-grid-layout-33 > div {
  height: 100% !important;
}
.memberAnnouncementsRow .hideNav .flex-control-nav,
.memberAnnouncementsRow .hideNav .flex-direction-nav {
  display: none;
}
.memberAnnouncementsRow .memberSessions {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.memberAnnouncementsRow .memberSessions .memberSessionsPanel {
  display: flex;
  width: 100%;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  align-content: flex-end;
  margin-top: 24px;
}
.memberAnnouncementsRow .memberSession {
  margin-left: 5px;
  margin-right: 5px;
  flex-shrink: 1;
  position: relative;
  overflow: hidden;
}
.memberAnnouncementsRow .memberSessions img {
  width: 100%;
  display: block;
  border: 0;
}
.memberAnnouncementsRow .memberSessions > a {
  margin-top: 10px;
  left: 10px;
  text-decoration: none;
}
.memberAnnouncementsRow .memberSessions > a:hover,
.memberAnnouncementsRow .memberSessions > a:focus {
  text-decoration: none;
}
.memberAnnouncementsRow .memberSessions > a:before,
.memberAnnouncementsRow .memberSessions > a:hover:before,
.memberAnnouncementsRow .memberSessions > a:focus:before {
  background-image: url("https://static.rainfocus.com/gartner/virtual/assets/arrow-blue.svg") !important;
  top: 0;
}
@media (max-width: 768px) {
  .memberAnnouncementsRow .memberSessions {
    margin-top: 0;
    padding-bottom: 18px;
  }
  .memberAnnouncementsRow .memberSessions > a {
    margin-top: 0;
  }
  .memberAnnouncementsRow .memberSessions .memberSessionsPanel {
    flex-direction: column;
    margin-top: 10px !important;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .memberAnnouncementsRow .memberSessionsPanel .memberSession {
    margin: 10px 10px;
    width: 100% !Important;
  }
}

.memberSession_holder {
  position: absolute;
  background-color: #000000;
  background-color: rgba(0,0,0,0.25);
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 50%;
  transition: all .5s ease;
}
.memberSession:hover .memberSession_holder,
.memberSession:focus .memberSession_holder {
  top: 0;
}
.memberSession_title {
  width: 90%;
  margin-left: 5%;
  height: 50%;
  display: flex;
  align-items: center;
  font-size: 1.2vw;
  line-height: 130%;
  font-weight: 600;
  color: #FFFFFF;
  overflow: hidden;
  max-height: 50%;
}
.memberSession_link {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  font-size: 1.5vw;
  color: #FFFFFF;
}
.memberSession_link a {
  position: relative;
  font-weight: 400;
  font-size: 1.1vw !important;
  line-height: 1.3em;
  margin-left: 3em;
  padding-right: 2em;
  transition: margin-left .3s;
  max-width: 80%;
  color: #FFFFFF !important;
}
.memberSession_link a:before,
.memberSession_link a:hover:before,
.memberSession_link a:focus:before {
  display: block;
  position: absolute;
  left: -1.7em;
  top: 0.1em;
  width: 1.2em;
  height: 1.2em;
  content: '';
  background-image: url("https://static.rainfocus.com/gartner/virtual/assets/arrow-white.svg");
  background-size: 100%;
  transition: margin-left .3s;
}
.memberSession_link a:hover {
  color: #FFFFFF;
  text-decoration: none;
  margin-left: 4em;
}
@media (max-width: 768px) {
  .memberSession_title {
    font-size: 19px;
  }

  .memberSession_link a {
    font-size: 16px !important;
  }
}
@media (min-width: 1601px) {
  .memberSession_title {
    font-size: 19px;
  }

  .memberSession_link a {
    font-size: 16px !important;
  }
}
.memberLinkSubContext {
  font-size: 1.1vw;
  margin-top: 0.2vw !important;
  margin-bottom: 0.2vw !important;
  line-height: 120%;
}
@media (max-width: 768px) {
  .memberLinkSubContext {
    font-size: 19px;
    margin-top: 20px !important;
    margin-bottom: 10px !important;
  }
}
@media (min-width: 1601px) {
  .memberLinkSubContext {
    font-size: 16px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
}

/* Button Row */
.memberButtons {
  background-color: #535A5A;
}
.memberButtons button {
color: #FFFFFF !important;
}
.memberButtons button:hover,
.memberButtons button:focus {
  color: #032955 !important;
  background-color: #FFFFFF !important;
}
/* Modal close button*/
#modalMemberLegal .modal-footer .mdBtnR {
  background-color: #FFFFFF;
  text-transform: none !important;
  border-color: #032955 !important;
  opacity: 1.0;
  letter-spacing: 0 !important;
}
#modalMemberLegal .modal-footer .mdBtnR:hover,
#modalMemberLegal .modal-footer .mdBtnR:focus {
  background-color: #032955;
  color: #FFFFFF;
  opacity: 1.0;
}

/* Meetings Page */

/* Booking Modal close button */
#modalBooking .modal-footer .mdBtnR {
  background-color: #FFFFFF;
  text-transform: none !important;
  border-color: #032955 !important;
  opacity: 1.0;
  letter-spacing: 0 !important;
}
#modalBooking .modal-footer .mdBtnR:hover,
#modalBooking .modal-footer .mdBtnR:focus {
  background-color: #032955;
  color: #FFFFFF;
  opacity: 1.0;
}

/* Move the image under the text on mobile */
@media (max-width: 768px) {
  .meetingsMobileFlip .flex-box-section {
    flex-direction: column-reverse;
  }
}