/* Micah's Edits */

#rf-exhibitorcatalog.rf-widget .exhibitor-details-page .exhibitor-details-page-frame .exhibitor-title .title-info {
    margin: 0 0 40px;
  }
  
  #rf-exhibitorcatalog.rf-widget .exhibitor-details-page .exhibitor-details-page-frame .exhibitor-title .title-info h1 {
    display: none;
  }
  
  #rf-exhibitorcatalog.rf-widget .exhibitor-details-page .exhibitor-details-content .exhibitor-title {
    flex-direction: column;
  }
  
  .rfwf-dashboard .my-survey-list-card h5, .page-builder-display-reset .my-survey-list-card h5 {
    font-size: 20px;
  }
  
  .page-builder-display-reset .my-survey-list-card .rf-table-container .rf-table .table-body .table-row > div {
    font-size: 16px;
  }
  
  [id*='rf-'].rf-widget .exhibitor-details-page .catalog-result .badges .badge.rf-cio-experience {
    display: block;
    background: #FF540A;
    color: #ffffff;
  }
  
  
  
  .page-builder-panel.panel-left .flex-box-section-full {
    padding: 0 0 24px !important;
  }
  
  .page-builder-panel.panel-left .flex-box-section-full .rf-card .card-body {
    padding: 0;
    height: auto;
  }
  
  .rfwf-dashboard .recommended-sessions-card .session-info, .page-builder-display-reset .recommended-sessions-card .session-info {
      padding-right: 0;
  }
  
  .page-builder-panel.panel-left .rf-card .session-info-container .card-body-row {
    display: flex;
    flex-direction: row;
  }
  
  .page-builder-panel.panel-left .rf-card .session-info-container .card-body-row .rfSI {
    position: relative;
    transform: none;
    right: unset;
  }
  
  .rfwf-dashboard .recommended-sessions-card .card-body-row .rfSI {
    position: relative;
    transform: none;
  }
  
  .page-builder-panel.panel-left .rf-card.recommended-sessions-card {
    max-height: 216px;
    overflow: auto;
  }
  
  .page-builder-panel.panel-left .rf-table {
    min-width: 0;
  }
  
  
  .flex-box-section-full {
    padding: 16px 0 !important;
  }
  
  
  .rf-workflow .rfwf-orders-buttons .pull-left {
    display: none;
  }
  
  .survey-form-page .rf-radio-container .rfG-md-50 {
    width: 100%;
  }
  
  #rf-exhibitorcatalog.rf-widget .exhibitor-details-page .exhibitor-details-content .custom-component h2 {
    font-size: 24px;
    margin: 0 0 20px;
    line-height: 20px;
  }
  
  .grid-targeted-agenda .targeted-agenda-header .targeted-agenda-headline h2 {
      font-size: 24px;
  }
  
  .header-sub-nav a.active {
     color: #0052d6 !important;
     border-left: 1.5px solid #0052d6;
     border-right: 1.5px solid #0052d6;
  }
  
  .gartner-header .header-main-nav .header-sub-nav a {
    padding: 0 8px;
  }
  
  .panel-left h3 {
      background: #002856;
      color: white !important;
      padding: 0 10px;
      display: inline-block;
  }
  
  .panel-left h3 span {
    color: #fff !important;
  }
  
  .panel-left h3 span:first-child, .panel-left h3 span:last-child {
    display: none;
  }
  
  .workflow-targeted-agenda .rf-tile-container .rf-tile .rf-tile-avatars .rf-tile-avatar {
    width: 70px;
    height: 70px;
  }
  
  [id*='rf-'].rf-widget .search-results .catalog-result .badges, [id*='rf-'].rf-widget .session-details-page .badges, .rf-default-modal .catalog-result .badges, .rf-default-modal .session-details-page .badges {
    display: block;
  }
  
  
  [id*='rf-'].rf-widget .search-results .catalog-result .badges .badge, .rf-default-modal .catalog-result .badges .badge {
    display: none !important;
  }
  
  
  
  
  /* Micah's Edits */
  
  
  /* */
  /*    Variable color examples to find and replace */
  /* */
  .template-brand-color {
      /* Search for this hex color, find and replace. */
      color: #002856; }
  
  .template-brand-color1 {
      /* Search for this hex color, find and replace. */
      color: #8094ab; }
  
  .template-brand-color2 {
      /* Search for this hex color, find and replace. */
      color: #bfc9d5; }
  
  .template-brand-color3 {
      /* Search for this hex color, find and replace. */
      color: #e6eaee; }
  
  .template-accent-color {
      /* Search for this hex color, find and replace. Not currently used. */
      color: #ed1a5d; }
  
  .template-accent-color {
      /* Search for this hex color, find and replace. Not currently used. */
      color: #f68dae; }
  
  .template-accent-color {
      /* Search for this hex color, find and replace. Not currently used. */
      color: #fbc6d7; }
  
  .template-accent-color {
      /* Search for this hex color, find and replace. Not currently used. */
      color: #fde8ef; }
  
  /*=============================================*/
  /*
  /*  # Reset
  /*  Workflow and Widget Reset
  /*
  /*=============================================*/
  .rf-body *,
  [id*='rf-'].rf-widget *,
  .rf-default-modal * {
      outline: 0 !important;
      outline: none !important;
      font-family: "Graphik Web", sans-serif; }
  
  /* Overlays */
  .rf-overlay-new .rf-scroll-frame ul li:not(.group-header):not(.common-select-dropdown-option-item):hover,
  .rf-overlay-new .rf-scroll-frame ul li:not(.group-header):not(.common-select-dropdown-option-item).disabled:hover {
      background: #002856; }
  
  .rf-overlay-new .rf-scroll-frame ul li:not(.group-header):not(.common-select-dropdown-option-item):hover svg {
      fill: white; }
  
  .rf-overlay-new .rf-scroll-frame ul:not(.rf-select-selected) li:not(.group-header):not(.common-select-dropdown-option-item).disabled:hover {
      background: #F5F5F5;
      color: rgba(0, 0, 0, 0.9); }
  
  /*=============================================*/
  /*
  /*  # Clearfix
  /*  Add containers that need floats cleared
  /*
  /*=============================================*/
  .clearfix,
  .clearfloat {
      clear: both; }
  .clearfix:before, .clearfix:after,
  .clearfloat:before,
  .clearfloat:after {
      content: "";
      display: table;
      clear: both; }
  
  /* END Clearfix */
  body {
      margin: 0; }
  
  strong,
  b {
      font-family: "Graphik Web", sans-serif;
      font-weight: 700; }
  
  i,
  em {
      font-family: "Graphik Web", sans-serif;
      font-style: italic; }
  
  .rfwf-full-panel .rfwf-panel-interior,
  .grid-norm,
  .content-wrapper {
      width: 100%;
      max-width: 1230px;
      margin: 0 auto;
      padding: 0 12px; }
  
  @media (min-width: 769px) {
      .rfwf-full-panel .rfwf-panel-interior,
      .grid-norm,
      .content-wrapper {
          padding: 0 60px; } }
  
  @font-face {
      font-family: "Graphik Web";
      src: url("https://emtemp.gcom.cloud/ngw/commonassets/fonts/graphik/Graphik-BoldItalic-Web.eot");
      src: url("https://emtemp.gcom.cloud/ngw/commonassets/fonts/graphik/Graphik-BoldItalic-Web.eot?#iefix") format("embedded-opentype"), url("https://emtemp.gcom.cloud/ngw/commonassets/fonts/graphik/Graphik-BoldItalic-Web.woff2") format("woff2"), url("https://emtemp.gcom.cloud/ngw/commonassets/fonts/graphik/Graphik-BoldItalic-Web.woff") format("woff");
      font-weight: 700;
      font-style: italic;
      font-stretch: normal;
      font-display: swap; }
  
  @font-face {
      font-family: "Graphik Web";
      src: url("https://emtemp.gcom.cloud/ngw/commonassets/fonts/graphik/Graphik-Bold-Web.eot");
      src: url("https://emtemp.gcom.cloud/ngw/commonassets/fonts/graphik/Graphik-Bold-Web.eot?#iefix") format("embedded-opentype"), url("https://emtemp.gcom.cloud/ngw/commonassets/fonts/graphik/Graphik-Bold-Web.woff2") format("woff2"), url("https://emtemp.gcom.cloud/ngw/commonassets/fonts/graphik/Graphik-Bold-Web.woff") format("woff");
      font-weight: 700;
      font-style: normal;
      font-stretch: normal;
      font-display: swap; }
  
  @font-face {
      font-family: "Graphik Web";
      src: url("https://emtemp.gcom.cloud/ngw/commonassets/fonts/graphik/Graphik-MediumItalic-Web.eot");
      src: url("https://emtemp.gcom.cloud/ngw/commonassets/fonts/graphik/Graphik-MediumItalic-Web.eot?#iefix") format("embedded-opentype"), url("https://emtemp.gcom.cloud/ngw/commonassets/fonts/graphik/Graphik-MediumItalic-Web.woff2") format("woff2"), url("https://emtemp.gcom.cloud/ngw/commonassets/fonts/graphik/Graphik-MediumItalic-Web.woff") format("woff");
      font-weight: 500;
      font-style: italic;
      font-stretch: normal;
      font-display: swap; }
  
  @font-face {
      font-family: "Graphik Web";
      src: url("https://emtemp.gcom.cloud/ngw/commonassets/fonts/graphik/Graphik-Medium-Web.eot");
      src: url("https://emtemp.gcom.cloud/ngw/commonassets/fonts/graphik/Graphik-Medium-Web.eot?#iefix") format("embedded-opentype"), url("https://emtemp.gcom.cloud/ngw/commonassets/fonts/graphik/Graphik-Medium-Web.woff2") format("woff2"), url("https://emtemp.gcom.cloud/ngw/commonassets/fonts/graphik/Graphik-Medium-Web.woff") format("woff");
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      font-display: swap; }
  
  @font-face {
      font-family: "Graphik Web";
      src: url("https://emtemp.gcom.cloud/ngw/commonassets/fonts/graphik/Graphik-RegularItalic-Web.eot");
      src: url("https://emtemp.gcom.cloud/ngw/commonassets/fonts/graphik/Graphik-RegularItalic-Web.eot?#iefix") format("embedded-opentype"), url("https://emtemp.gcom.cloud/ngw/commonassets/fonts/graphik/Graphik-RegularItalic-Web.woff2") format("woff2"), url("https://emtemp.gcom.cloud/ngw/commonassets/fonts/graphik/Graphik-RegularItalic-Web.woff") format("woff");
      font-weight: 400;
      font-style: italic;
      font-stretch: normal;
      font-display: swap; }
  
  @font-face {
      font-family: "Graphik Web";
      src: url("https://emtemp.gcom.cloud/ngw/commonassets/fonts/graphik/Graphik-Regular-Web.eot");
      src: url("https://emtemp.gcom.cloud/ngw/commonassets/fonts/graphik/Graphik-Regular-Web.eot?#iefix") format("embedded-opentype"), url("https://emtemp.gcom.cloud/ngw/commonassets/fonts/graphik/Graphik-Regular-Web.woff2") format("woff2"), url("https://emtemp.gcom.cloud/ngw/commonassets/fonts/graphik/Graphik-Regular-Web.woff") format("woff");
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      font-display: swap; }
  
  @font-face {
      font-family: "gartner-vis-icon-font";
      src: url("https://emtemp.gcom.cloud/ngw/commonassets/fonts/gartnericons/gartner-vis-icon-font-v4.eot");
      src: url("https://emtemp.gcom.cloud/ngw/commonassets/fonts/gartnericons/gartner-vis-icon-font-v4.eot") format("embedded-opentype"), url("https://emtemp.gcom.cloud/ngw/commonassets/fonts/gartnericons/gartner-vis-icon-font-v4.ttf") format("truetype"), url("https://emtemp.gcom.cloud/ngw/commonassets/fonts/gartnericons/gartner-vis-icon-font-v4.woff") format("woff"), url("https://emtemp.gcom.cloud/ngw/commonassets/fonts/gartnericons/gartner-vis-icon-font-v4.svg") format("svg");
      font-weight: normal;
      font-style: normal;
      font-display: swap; }
  
  [class^="gcom-icon-"], [class*=" gcom-icon-"] {
      font-family: "gartner-vis-icon-font" !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      display: inline-block;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
  
  .gcom-icon-social-twitter:before {
      content: "\e933"; }
  
  .gcom-icon-social-facebook:before {
      content: "\e905"; }
  
  .gcom-icon-social-instagram:before {
      content: "\e904"; }
  
  .gcom-icon-social-linkedin:before {
      content: "\e903"; }
  
  .gcom-icon-social-youtube:before {
      content: "\e901"; }
  
  [class^="gcom-icon-"], [class*=" gcom-icon-"] {
      font-family: "gartner-vis-icon-font" !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      display: inline-block;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
  
  /*=============================================*/
  /*
  /*  # Framework Imports
  /*
  /*=============================================*/
  /*=============================================*/
  /*
  /*  # Header
  /*
  /*
  /*=============================================*/
  .gartner-header .gartner-top-bar {
      background-color: #002856;
      padding: 8px 0; }
  .gartner-header .gartner-top-bar a {
      color: white;
      text-decoration: none;
      font-size: 12px;
      font-weight: 500;
      line-height: 20px; }
  .gartner-header .gartner-top-bar a:hover, .gartner-header .gartner-top-bar a:focus {
      color: white; }
  
  .gartner-header li {
      list-style: none; }
  
  .gartner-header .header-main-nav {
      background-color: white; }
  .gartner-header .header-main-nav .content-wrapper {
      padding: 12px; }
  .gartner-header .header-main-nav a, .gartner-header .header-main-nav button {
      color: #002856;
      font-size: 16px;
      cursor: pointer;
      outline: none !important;
      padding: 0; }
  .gartner-header .header-main-nav a:hover, .gartner-header .header-main-nav a:focus, .gartner-header .header-main-nav button:hover, .gartner-header .header-main-nav button:focus {
      color: #0052D6; }
  .gartner-header .header-main-nav a {
      text-decoration: none; }
  .gartner-header .header-main-nav button {
      border: none;
      background-color: transparent; }
  .gartner-header .header-main-nav .header-logo img {
      max-width: 85px; }
  .gartner-header .header-main-nav .header-logo p {
      color: #002856; }
  .gartner-header .header-main-nav .header-logo p:last-of-type {
      font-size: 12px; }
  
  /*=============================================*/
  /*
  /*  # Media Queries
  /*
  /*=============================================*/
  @media all and (min-width: 769px) {
      .gartner-header ul {
          display: flex;
          flex-wrap: nowrap; }
      .gartner-header li {
          padding-right: 20px; }
      .gartner-header li.account-link {
          margin-left: auto; }
      .gartner-header li.account-link img {
          max-height: 15px;
          display: inline-block;
          margin-right: 8px; }
      .gartner-header li:last-child {
          padding-right: 0; }
      .gartner-header .header-main-nav .content-wrapper {
          display: flex;
          flex-wrap: nowrap;
          padding: 40px 60px 12px; }
      .gartner-header .header-main-nav .content-wrapper div {
          flex-grow: 1; }
      .gartner-header .header-main-nav .header-sub-nav {
          text-align: right; }
      .gartner-header .header-main-nav .header-sub-nav a, .gartner-header .header-main-nav .header-sub-nav button {
          font-size: 14px;
          font-weight: 500;
          margin-left: 12px; } }
  
  /*=============================================*/
  /*
  /*  # END Header
  /*
  /*
  /*=============================================*/
  /*=============================================*/
  /*
  /*  # Content
  /*  Starts at the content level, not <body>
  /*
  /*=============================================*/
  .rf-workflow .rf-text-container h1, .rf-workflow .rf-text-container h2, .rf-workflow .rf-text-container h3, .rf-workflow .rf-text-container h4, .rf-workflow .rf-text-container h5, .rf-workflow .rf-text-container h6 {
      display: block;
      margin-left: 0;
      margin-right: 0;
      font-family: "Graphik Web", sans-serif;
      font-weight: 600;
      color: #002856; }
  
  .rf-workflow .rf-text-container h1 {
      font-size: 3.3em;
      margin-top: 0.67em;
      margin-bottom: 0.67em; }
  
  .rf-workflow .rf-text-container h2 {
      font-size: 1.5em;
      margin-top: 0.83em;
      margin-bottom: 0.83em; }
  
  .rf-workflow .rf-text-container h3 {
      font-size: 1.17em;
      margin-top: 1em;
      margin-bottom: 1em; }
  
  .rf-workflow .rf-text-container h4 {
      margin-top: 1.33em;
      margin-bottom: 1.33em; }
  
  .rf-workflow .rf-text-container h5 {
      font-size: .83em;
      margin-top: 1.67em;
      margin-bottom: 1.67em; }
  
  .rf-workflow .rf-text-container h6 {
      font-size: .67em;
      margin-top: 2.33em;
      margin-bottom: 2.33em; }
  
  .rf-workflow .rfwf-panel,
  .rf-workflow .rfwf-full-panel {
      border-bottom: none;
      padding: 12px 0; }
  
  .rf-workflow .rf-workflow-header {
      padding: 0; }
  .rf-workflow .rf-workflow-header .rfwf-header .rfwf-panel-interior {
      display: block; }
  @media all and (min-width: 769px) {
      .rf-workflow .rf-workflow-header .rfwf-header .rfwf-panel-interior {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center; } }
  @media all and (max-width: 767px) {
      .rf-workflow .rf-workflow-header .rfwf-header .rfwf-panel-interior .rfwf-header-container {
          margin-bottom: 30px; } }
  .rf-workflow .rf-workflow-header .rfwf-header .rfwf-header-container {
      width: 100%;
      flex-grow: 1; }
  .rf-workflow .rf-workflow-header .rfwf-header .rfwf-event-information {
      width: 320px;
      flex-shrink: 0; }
  .rf-workflow .rf-workflow-header .rfwf-header .rfwf-event-information p {
      font-weight: 500;
      text-align: right; }
  .rf-workflow .rf-workflow-header .rfwf-header .rfwf-event-information p strong {
      display: none; }
  .rf-workflow .rf-workflow-header .rfwf-header .rfwf-headline h1 {
      font-size: 50px;
      line-height: 55px;
      font-weight: 700;
      margin: 0;
      display: flex;
      flex-wrap: nowrap; }
  .rf-workflow .rf-workflow-header .rfwf-header .rfwf-headline h1:before, .rf-workflow .rf-workflow-header .rfwf-header .rfwf-headline h1:after {
      content: '';
      display: block;
      height: 55px;
      width: 15px;
      flex-shrink: 0;
      background-color: #f1f1f1; }
  .rf-workflow .rf-workflow-header .rfwf-header .rfwf-headline h1:before {
      margin-right: 30px; }
  .rf-workflow .rf-workflow-header .rfwf-header .rfwf-headline h1:after {
      margin-left: 30px; }
  
  .rf-workflow .rfwf-header-container .rfwf-headline h1,
  .rf-workflow .orders-page .rfwf-packages h2,
  .rf-workflow .orders-page .rfwf-packages h3,
  .rf-workflow .rfwf-orders-payment h2 {
      color: #002856; }
  
  .rf-workflow .orders-page .rfwf-errors {
      width: 100%;
      max-width: 1110px;
      margin: 0 auto;
      padding: 12px; }
  @media all and (min-width: 769px) {
      .rf-workflow .orders-page .rfwf-errors {
          padding: 20px; } }
  .rf-workflow .orders-page .rfwf-errors + .rfwf-discount-code {
      display: none; }
  
  .rf-workflow .orders-page .rfwf-subheader {
      display: none; }
  
  .rf-workflow .orders-page .rfwf-discount-code:first-of-type,
  .rf-workflow .orders-page > .rfwf-discount-code {
      display: none; }
  
  .rf-workflow .orders-page .rfwf-packages + .rfwf-discount-code {
      display: block; }
  
  .rf-workflow .orders-page .rfwf-discount-code .mdBtnR-primary {
      margin-top: 38px; }
  
  .rf-workflow .orders-page .rfwf-packages .md-frame {
      margin-bottom: 10px; }
  
  .rf-workflow .orders-page .rfwf-packages .accordion-headline {
      background-color: #f1f1f1; }
  .rf-workflow .orders-page .rfwf-packages .accordion-headline .md-accordion-controls {
      right: 16px; }
  .rf-workflow .orders-page .rfwf-packages .accordion-headline .md-accordion-controls .rfSI {
      display: none; }
  
  .rf-workflow .orders-page .rfwf-packages + .rfwf-packages {
      display: none; }
  .rf-workflow .orders-page .rfwf-packages + .rfwf-packages .package-description p {
      display: none; }
  
  .rf-workflow .orders-page .rfwf-orders-payment .payment > .rf-select {
      max-width: 400px; }
  
  .rf-workflow .orders-page .rfwf-orders-buttons .mdBtnR.mdBtnR-outline-primary.pull-left,
  .rf-workflow .orders-page .rfwf-orders-buttons .mdBtnR.mdBtnR-outline-primary {
      display: none; }
  
  .rf-workflow .orders-summary-list li.header {
      font-weight: bold; }
  
  
  
  /* Unknown Edits */
  #kipsu-chat {
      left:20px
  }
  
  #kipsu-chat-button{
      left:0
  }
  
  [id*='rf-'].rf-widget *, .rf-default-modal {
      /*background: #f4f4f4 */
  }
  
  /* END Unknown Edits */
  
  
  /* Ryan's Edits to hide video link on agenda card */
  
  #AllSessions .card-body-row .mdBtnR-add-a-thing {
      display: none;
  }
  .exhibitor-details-back-to-catalog{
      display:none;
  }
  
  /* End Ryan's Edits */
  
  
  /* Marcus' Edits */
  .card-controls .rfSI[title="Edit"] {
      display: none;
  }
  
  .rf-workflow-body-content * {
      font-family: "Graphik Web", sans-serif !important;
  }
  
  
  .page-builder-panel.panel-left {
      padding: 0 !important;
      border-right: 1px solid #efefef !important;
  }
  
  .has-panel-left .page-builder-canvas .flex-box-section-full:first-of-type .flex-box-section-full-interior {
      width: 100%;
      margin: 0;
  }
  
  .has-panel-left .page-builder-canvas .flex-box-section-full:first-of-type .flex-box-section-full-interior .rf-headline-interior {
      background-size: cover !important;
  }
  
  .page-builder-panel.panel-left .recommended-sessions-card,
  .page-builder-panel.panel-left .my-survey-list-card,
  .page-builder-panel.panel-left .booth-details-card {
      margin: 0;
  }
  
  .page-builder-panel.panel-left .flex-box-section-full {
      padding: 15px 0;
  }
  
  .page-builder-panel.panel-left .rf-card {
      box-shadow: none !important;
  }
  
  .rf-headline,
  .rf-tile,
  .rf-card .card-header,
  .rf-card .card-body {
      border: 1px solid #efefef !important;
  }
  
  .page-builder-panel.panel-left .rf-card .card-body {
      border-top: none !important;
  }
  
  
  .page-builder-canvas .flex-box-section-full:first-of-type, .page-builder-panel.panel-left .flex-box-section-full:first-of-type {
      padding-top: 0 !important;
  }
  
  
  .rf-widget#rf-calendar[style],
  .rf-widget#rf-catalog[style] {
      height: auto !important;
  }
  
  .footer.grid-norm,
  nav.gartner-top-bar .nav-container.content-wrapper,
  .gartner-header .header-main-nav .content-wrapper {
      max-width: 1500px !important;
  }
  
  .header-sub-nav a {
      font-size: 16px !important;
  }
  
  .rf-speaker-container .speaker-card {
      border: none !important;
  }
  
  .rf-card.booth-details-card .card-body {
      height: auto !important;
  }
  
  #rf-speakercatalog .search-content .speaker-photo img {
      width:130px !important;
      max-width:130px !important;
  }
  
  #rf-speakercatalog .search-content .speaker-card > div {
      font-weight: 200;
      font-size: 14px;
  }
  
  
  #rf-speakercatalog .search-content .speaker-card > .speaker-job-title {
      min-width: 400px;
  }
  
  .rf-headline {
      border: none !important;
  }
  
  #anchor_videos .exhibitor-video {
      display: inline-block;
      max-width: 30%;
      margin: 5px !important;
  }
  
  /* End Marcus' Edits */
  
  
  /* Nate's Edits to remove form buttons on Survey workflow */
  .rfwf-full-panel.form-id-1592844058156001vUNb .form-footer-actions,
  .rfwf-full-panel.form-id-1592850186290001RPBG .form-footer-actions,
  .rfwf-full-panel.form-id-1592849514975001vTok .form-footer-actions {
      visibility: hidden;
  }
  /* End Nate's Edits */
  
  
  /* Mykes changes */
  
  .rf-tile-container .rf-tile .rf-tile-title a,
  .rf-tile-container .rf-tile .rf-tile-title a:link,
  .rf-tile-container .rf-tile .rf-tile-title a:visited {
      color: #222 !important;
  }
  
  
  .rf-tile .rf-tile-body .rf-tile-title a:hover,
  .rf-tile .rf-tile-body .rf-tile-title a:link:hover,
  .rf-tile .rf-tile-body .rf-tile-title a:visited:hover,
  .rf-compressed-tile .rf-tile-body .rf-tile-title a:hover,
  .rf-compressed-tile .rf-tile-body .rf-tile-title a:link:hover,
  .rf-compressed-tile .rf-tile-body .rf-tile-title a:visited:hover {
      text-decoration: none !important;
      cursor: initial !important;
  }
  
  
  #rf-exhibitorcatalog .rf-page-links {
      display: none !important;
  }
  
  .fp-playbtn:before {
      padding-left: 15px !important;
  }
  
  /* Bolding the title of the exhibitor */
  .exhibitor-details-page .exhibitor-details-content .exhibitor-title .title-info h1 {
      font-weight: 700 !important;
  }
  
  /* Setting the border properly */
  .exhibitor-details-page .exhibitor-details-content .exhibitor-overview {
      padding-bottom: 20px;
      border-bottom: 1px solid #ccc;
  }
  
  /* Removing the padding here since it's doubling whats already on the overview */
  .exhibitor-details-page .exhibitor-details-content .exhibitor-url {
      margin: 0 !important;
  }
  
  /* Redistributing the spacing and border on the anchor videos instead of each video itself */
  .exhibitor-details-content #anchor_videos {
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #ccc;
  }
  
  /* Removing the spacing/border on individual video and putting on its container */
  #rf-exhibitorcatalog.rf-widget .exhibitor-details-page .exhibitor-details-content .exhibitor-video {
      margin-bottom: 0 !important;
      padding-bottom: 0;
      border-bottom: none !important;
  }
  
  #rf-exhibitorcatalog {
      background-color: transparent;
  }
  
  #customComponent1.custom-component {
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #ccc;
  }
  
  .page-builder-panel.panel-left .rf-card .card-body {
      border: none !important;
  }
  
  .recommended-sessions-card .card-body .card-body-row,
  .suggested-agenda-item {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px !important;
  }
  
  .recommended-sessions-card .card-body .card-body-row .session-info,
  .suggested-agenda-item .session-info{
      order: 2;
  }
  
  .recommended-sessions-card .card-body .card-body-row .rfSI,
  .suggested-agenda-item .rfSI {
      min-width: 24px;
      margin-right: 10px;
  }
  
  .flex-box-section-full:first-of-type .rf-headline.mini {
      padding: 0;
  }
  
  
  .questions-section .mdBtnR {
      font-size: 20px;
      padding: 15px 20px;
  }
  
  .questions-section p strong {
      font-size: 20px;
  }
  
  
  .session-time-and-location .webinar-status-tooltip-container .webinar-join-btn {
      margin-left: 10px !important;
  }
  
  [id*='rf-'].rf-widget .catalog-result ul.session-actions>li .session-scheduled {
      margin-right: 10px;
  }
  
  .exhibitor-details-content .custom-component h2 {
      font-size: 24px;
      margin: 0 0 20px;
      line-height: 20px;
  }
  
  .wf-form-element-div .rfG-row .rfG-md-50 {
      width: 100%;
  }
  
  .rbc-current-time-indicator {
      display: none;
  }
  
  .questions-section {
      max-height: 500px;
      overflow: auto;
  }
  
  /* Mykes changes END */
  
  
  
  
  
  
  /*=============================================*/
  /*
  /*  # Media Queries
  /*
  /*=============================================*/
  @media all and (min-width: 769px) {
      .rf-workflow .rf-workflow-body-content {
          height: 100%; } }
  
  /*=============================================*/
  /*
  /*  # END Content
  /*
  /*
  /*=============================================*/
  /*=============================================*/
  /*
  /*  # Footer
  /*
  /*
  /*=============================================*/
  * {
      box-sizing: border-box; }
  
  footer {
      padding: 40px 0; }
  
  body {
      background: #fff;
      color: #000;
      font-family: "Graphik Web";
      -moz-font-feature-settings: 'ss05';
      -webkit-font-feature-settings: 'ss05';
      font-feature-settings: 'ss05' on;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: auto;
      text-rendering: optimizeLegibility; }
  
  .gartner-footer-container {
      flex-wrap: wrap; }
  
  .gartner-footer-logo {
      width: 100%;
      padding: 0;
      margin-bottom: 30px; }
  
  @media all and (min-width: 768px) and (max-width: 990px) {
      .gartner-footer-logo {
          order: 1;
          width: 50% !important; }
      .gartner-footer-navigation {
          order: 3;
          width: 100% !important; }
      .gartner-footer-navigation .rf-flex-column-25 {
          width: 33.33% !important; }
      .social-share {
          order: 2;
          width: 50% !important; } }
  
  @media all and (max-width: 767px) {
      .gartner-footer-navigation .rf-simple-flex-grid {
          display: flex;
          flex-wrap: wrap; }
      .gartner-footer-navigation .rf-flex-column-25 {
          width: 50% !important; }
      .social-share {
          margin-top: 35px; } }
  
  .gartner-footer-navigation .rf-flex-column li {
      padding-bottom: 15px; }
  
  .rf-simple-flex-grid .rf-flex-column,
  .rf-simple-flex-grid > div {
      flex: inherit; }
  
  .img-responsive {
      display: block;
      max-width: 100%;
      height: auto; }
  
  .globalsite.cmp-globalsite-globalfooter .social-share {
      position: static;
      min-height: 1px; }
  
  .globalsite.cmp-globalsite-globalfooter .social-share .social-link {
      text-decoration: none; }
  
  .globalsite.cmp-globalsite-globalfooter .social-share span {
      margin-right: 10px;
      font-size: 35px;
      color: #002856; }
  
  .globalsite.cmp-globalsite-globalfooter ul {
      list-style: none;
      margin: 0; }
  
  .globalsite.cmp-globalsite-globalfooter ul li {
      padding-bottom: 15px; }
  
  .globalsite.cmp-globalsite-globalfooter .footer-link {
      font-size: 18px;
      line-height: 22px;
      font-weight: 500;
      color: #002856; }
  
  .globalsite.cmp-globalsite-globalfooter ul li > a {
      color: #000; }
  
  .globalsite.cmp-globalsite-globalfooter .social-share {
      position: static;
      min-height: 1px; }
  
  .globalsite.cmp-globalsite-globalfooter .copyright-text {
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
      color: #9b9b9b;
      margin-top: 25px; }
  
  /*=============================================*/
  /*
  /*  # END Footer
  /*
  /*
  /*=============================================*/
  /*=============================================*/
  /*
  /*  # Common - Elements or components that are shared across both Workflows and Widgets.
  /*  The styles inside these files are product defaults to be overriden.
  /*
  /*=============================================*/
  
  
  /* Carousel */
  
  #carousel {
      /* this will be the width of the image */
      width: 1200px;
      overflow: hidden;
      margin: 0 auto;
  }
  
  #carousel ul {
      /* this needs to exceed the width of ALL images combined, hence the large number */
      width: 500000px;
      padding:0;
      margin:0;
  }
  
  #carousel ul li {
      /* this will also be the width of the image */
      width: 1200px;
      text-align: center;
      /* this will be the height of the image */
      height: 200px;
      list-style: none;
      float:  left;
  }
  
  /* Carousel */
  
  
  
  /* FlexSlider Carousel */
  
  @font-face {
      font-family: 'flexslider-icon';
      src: url('https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.2/fonts/flexslider-icon.eot');
      src: url('https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.2/fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.2/fonts/flexslider-icon.woff') format('woff'), url('https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.2/fonts/flexslider-icon.ttf') format('truetype'), url('https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.2/fonts/flexslider-icon.svg#flexslider-icon') format('svg');
      font-weight: normal;
      font-style: normal;
  }
  
  .flex-container a:hover,
  .flex-slider a:hover {
      outline: none;
  }
  .slides,
  .slides > li,
  .flex-control-nav,
  .flex-direction-nav {
      margin: 0;
      padding: 0;
      list-style: none;
  }
  .flex-pauseplay span {
      text-transform: capitalize;
  }
  
  .flexslider {
      margin: 0;
      padding: 0;
  }
  .flexslider .slides > li {
      display: none;
      -webkit-backface-visibility: hidden;
  }
  .flexslider .slides img {
      width: 100%;
      display: block;
  }
  .flexslider .slides:after {
      content: "\0020";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
  }
  html[xmlns] .flexslider .slides {
      display: block;
  }
  * html .flexslider .slides {
      height: 1%;
  }
  .no-js .flexslider .slides > li:first-child {
      display: block;
  }
  
  .flexslider {
      margin: 0 0 60px;
      background: #fff;
      border: 4px solid #fff;
      position: relative;
      zoom: 1;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
      -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
      box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  }
  .flexslider .slides {
      zoom: 1;
  }
  .flexslider .slides img {
      height: auto;
      -moz-user-select: none;
  }
  .flex-viewport {
      max-height: 2000px;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;
  }
  .loading .flex-viewport {
      max-height: 300px;
  }
  @-moz-document url-prefix() {
      .loading .flex-viewport {
          max-height: none;
      }
  }
  .carousel li {
      margin-right: 5px;
  }
  .flex-direction-nav {
      *height: 0;
  }
  .flex-direction-nav a {
      text-decoration: none;
      display: block;
      width: 40px;
      height: 40px;
      margin: -20px 0 0;
      position: absolute;
      top: 50%;
      z-index: 10;
      overflow: hidden;
      opacity: 0;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.8);
      text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
  }
  .flex-direction-nav a:before {
      font-family: "flexslider-icon";
      font-size: 40px !important;
      display: inline-block;
      content: '\f001';
      color: rgba(0, 0, 0, 0.8);
      text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  }
  .flex-direction-nav a.flex-next:before {
      content: '\f002';
  }
  .flex-direction-nav .flex-prev {
      left: -50px;
  }
  .flex-direction-nav .flex-next {
      right: -50px;
      text-align: right;
  }
  .flexslider:hover .flex-direction-nav .flex-prev {
      opacity: 0.7;
      left: 10px;
  }
  .flexslider:hover .flex-direction-nav .flex-prev:hover {
      opacity: 1;
  }
  .flexslider:hover .flex-direction-nav .flex-next {
      opacity: 0.7;
      right: 10px;
  }
  .flexslider:hover .flex-direction-nav .flex-next:hover {
      opacity: 1;
  }
  .flex-direction-nav .flex-disabled {
      opacity: 0!important;
      filter: alpha(opacity=0);
      cursor: default;
      z-index: -1;
  }
  .flex-pauseplay a {
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      bottom: 5px;
      left: 10px;
      opacity: 0.8;
      z-index: 10;
      overflow: hidden;
      cursor: pointer;
      color: #000;
  }
  .flex-pauseplay a:before {
      font-family: "flexslider-icon";
      font-size: 20px;
      display: inline-block;
      content: '\f004';
  }
  .flex-pauseplay a:hover {
      opacity: 1;
  }
  .flex-pauseplay a.flex-play:before {
      content: '\f003';
  }
  .flex-control-nav {
      width: 100%;
      position: absolute;
      bottom: -40px;
      text-align: center;
  }
  .flex-control-nav li {
      margin: 0 6px;
      display: inline-block;
      zoom: 1;
      *display: inline;
  }
  .flex-control-paging li a {
      width: 11px;
      height: 11px;
      display: block;
      background: #666;
      background: rgba(0, 0, 0, 0.5);
      cursor: pointer;
      text-indent: -9999px;
      -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
      -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
  }
  .flex-control-paging li a:hover {
      background: #333;
      background: rgba(0, 0, 0, 0.7);
  }
  .flex-control-paging li a.flex-active {
      background: #000;
      background: rgba(0, 0, 0, 0.9);
      cursor: default;
  }
  .flex-control-thumbs {
      margin: 5px 0 0;
      position: static;
      overflow: hidden;
  }
  .flex-control-thumbs li {
      width: 25%;
      float: left;
      margin: 0;
  }
  .flex-control-thumbs img {
      width: 100%;
      height: auto;
      display: block;
      opacity: .7;
      cursor: pointer;
      -moz-user-select: none;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;
  }
  .flex-control-thumbs img:hover {
      opacity: 1;
  }
  .flex-control-thumbs .flex-active {
      opacity: 1;
      cursor: default;
  }
  
  .flex-direction-nav a {
      display: none;
      overflow: visible !important;
  
  }
  
  @media screen and (max-width: 860px) {
      .flex-direction-nav .flex-prev {
          opacity: 1;
          left: 10px;
      }
      .flex-direction-nav .flex-next {
          opacity: 1;
          right: 10px;
      }
  }
  
  /* FlexSlider Carousel END */
  
  
  /*=============================================*/
  /*
  /*  # END Common
  /*
  /*=============================================*/
  
  
  /*=============================================*/
  /*
  /*  # Iconography
  /*
  /*=============================================*/
  .rfSI {
      fill: #002856;
      height: 24px;
      width: 24px;
      max-height: 24px;
      max-width: 24px; }
  .rfSI svg {
      fill: #002856; }
  .rfSI svg:hover, .rfSI svg:active, .rfSI svg:focus {
      fill: #1a3e67; }
  
  .rfSI-stroke svg * {
      stroke: #002856; }
  
  /* END Iconography */
  /*=============================================*/
  /*
  /*  # Buttons
  /*
  /*=============================================*/
  .mdBtnR {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0; }
  
  .mdBtnR.mdBtnR-add-a-thing .mdBtnR-text,
  a.mdBtnR.mdBtnR-add-a-thing .mdBtnR-text {
      color: #002856; }
  
  .mdBtnR-primary,
  button.mdBtnR-primary,
  a.mdBtnR-primary {
      color: white;
      background-color: #002856;
      border-color: #002856; }
  .mdBtnR-primary .mdBtnR-text,
  button.mdBtnR-primary .mdBtnR-text,
  a.mdBtnR-primary .mdBtnR-text {
      color: white; }
  .mdBtnR-primary:hover, .mdBtnR-primary.hover, .mdBtnR-primary:focus, .mdBtnR-primary.focus, .mdBtnR-primary:active, .mdBtnR-primary.active,
  button.mdBtnR-primary:hover,
  button.mdBtnR-primary.hover,
  button.mdBtnR-primary:focus,
  button.mdBtnR-primary.focus,
  button.mdBtnR-primary:active,
  button.mdBtnR-primary.active,
  a.mdBtnR-primary:hover,
  a.mdBtnR-primary.hover,
  a.mdBtnR-primary:focus,
  a.mdBtnR-primary.focus,
  a.mdBtnR-primary:active,
  a.mdBtnR-primary.active {
      color: white;
      background-color: #1a3e67;
      background-image: none;
      border-color: #1a3e67; }
  .mdBtnR-primary:hover .mdBtnR-text, .mdBtnR-primary.hover .mdBtnR-text, .mdBtnR-primary:focus .mdBtnR-text, .mdBtnR-primary.focus .mdBtnR-text, .mdBtnR-primary:active .mdBtnR-text, .mdBtnR-primary.active .mdBtnR-text,
  button.mdBtnR-primary:hover .mdBtnR-text,
  button.mdBtnR-primary.hover .mdBtnR-text,
  button.mdBtnR-primary:focus .mdBtnR-text,
  button.mdBtnR-primary.focus .mdBtnR-text,
  button.mdBtnR-primary:active .mdBtnR-text,
  button.mdBtnR-primary.active .mdBtnR-text,
  a.mdBtnR-primary:hover .mdBtnR-text,
  a.mdBtnR-primary.hover .mdBtnR-text,
  a.mdBtnR-primary:focus .mdBtnR-text,
  a.mdBtnR-primary.focus .mdBtnR-text,
  a.mdBtnR-primary:active .mdBtnR-text,
  a.mdBtnR-primary.active .mdBtnR-text {
      color: white; }
  
  .mdBtnR-primary .rfSI svg,
  a.mdBtnR-primary .rfSI svg {
      fill: #fff; }
  
  .mdBtnR-primary-open,
  .mdBtnR-outline-primary,
  .mdBtnR-secondary,
  button.mdBtnR-secondary,
  a.mdBtnR-secondary {
      color: #002856;
      background-color: white;
      border-color: #002856; }
  .mdBtnR-primary-open .mdBtnR-text,
  .mdBtnR-outline-primary .mdBtnR-text,
  .mdBtnR-secondary .mdBtnR-text,
  button.mdBtnR-secondary .mdBtnR-text,
  a.mdBtnR-secondary .mdBtnR-text {
      color: #002856; }
  .mdBtnR-primary-open:hover, .mdBtnR-primary-open.hover, .mdBtnR-primary-open:focus, .mdBtnR-primary-open.focus, .mdBtnR-primary-open:active, .mdBtnR-primary-open.active,
  .mdBtnR-outline-primary:hover,
  .mdBtnR-outline-primary.hover,
  .mdBtnR-outline-primary:focus,
  .mdBtnR-outline-primary.focus,
  .mdBtnR-outline-primary:active,
  .mdBtnR-outline-primary.active,
  .mdBtnR-secondary:hover,
  .mdBtnR-secondary.hover,
  .mdBtnR-secondary:focus,
  .mdBtnR-secondary.focus,
  .mdBtnR-secondary:active,
  .mdBtnR-secondary.active,
  button.mdBtnR-secondary:hover,
  button.mdBtnR-secondary.hover,
  button.mdBtnR-secondary:focus,
  button.mdBtnR-secondary.focus,
  button.mdBtnR-secondary:active,
  button.mdBtnR-secondary.active,
  a.mdBtnR-secondary:hover,
  a.mdBtnR-secondary.hover,
  a.mdBtnR-secondary:focus,
  a.mdBtnR-secondary.focus,
  a.mdBtnR-secondary:active,
  a.mdBtnR-secondary.active {
      color: #002856;
      background-color: #e6eaee;
      background-image: none;
      border-color: #002856; }
  .mdBtnR-primary-open:hover .mdBtnR-text, .mdBtnR-primary-open.hover .mdBtnR-text, .mdBtnR-primary-open:focus .mdBtnR-text, .mdBtnR-primary-open.focus .mdBtnR-text, .mdBtnR-primary-open:active .mdBtnR-text, .mdBtnR-primary-open.active .mdBtnR-text,
  .mdBtnR-outline-primary:hover .mdBtnR-text,
  .mdBtnR-outline-primary.hover .mdBtnR-text,
  .mdBtnR-outline-primary:focus .mdBtnR-text,
  .mdBtnR-outline-primary.focus .mdBtnR-text,
  .mdBtnR-outline-primary:active .mdBtnR-text,
  .mdBtnR-outline-primary.active .mdBtnR-text,
  .mdBtnR-secondary:hover .mdBtnR-text,
  .mdBtnR-secondary.hover .mdBtnR-text,
  .mdBtnR-secondary:focus .mdBtnR-text,
  .mdBtnR-secondary.focus .mdBtnR-text,
  .mdBtnR-secondary:active .mdBtnR-text,
  .mdBtnR-secondary.active .mdBtnR-text,
  button.mdBtnR-secondary:hover .mdBtnR-text,
  button.mdBtnR-secondary.hover .mdBtnR-text,
  button.mdBtnR-secondary:focus .mdBtnR-text,
  button.mdBtnR-secondary.focus .mdBtnR-text,
  button.mdBtnR-secondary:active .mdBtnR-text,
  button.mdBtnR-secondary.active .mdBtnR-text,
  a.mdBtnR-secondary:hover .mdBtnR-text,
  a.mdBtnR-secondary.hover .mdBtnR-text,
  a.mdBtnR-secondary:focus .mdBtnR-text,
  a.mdBtnR-secondary.focus .mdBtnR-text,
  a.mdBtnR-secondary:active .mdBtnR-text,
  a.mdBtnR-secondary.active .mdBtnR-text {
      color: #002856; }
  .mdBtnR-primary-open.mdBtnR-adv .rfSI svg,
  .mdBtnR-outline-primary.mdBtnR-adv .rfSI svg,
  .mdBtnR-secondary.mdBtnR-adv .rfSI svg,
  button.mdBtnR-secondary.mdBtnR-adv .rfSI svg,
  a.mdBtnR-secondary.mdBtnR-adv .rfSI svg {
      fill: #002856; }
  
  .mdBtnR.mdBtnR-text-button .mdBtnR-text,
  a.mdBtnR.mdBtnR-text-button .mdBtnR-text {
      color: #002856;
      background-color: transparent;
      border-color: transparent; }
  .mdBtnR.mdBtnR-text-button .mdBtnR-text .mdBtnR-text,
  a.mdBtnR.mdBtnR-text-button .mdBtnR-text .mdBtnR-text {
      color: #002856; }
  .mdBtnR.mdBtnR-text-button .mdBtnR-text:hover, .mdBtnR.mdBtnR-text-button .mdBtnR-text.hover, .mdBtnR.mdBtnR-text-button .mdBtnR-text:focus, .mdBtnR.mdBtnR-text-button .mdBtnR-text.focus, .mdBtnR.mdBtnR-text-button .mdBtnR-text:active, .mdBtnR.mdBtnR-text-button .mdBtnR-text.active,
  a.mdBtnR.mdBtnR-text-button .mdBtnR-text:hover,
  a.mdBtnR.mdBtnR-text-button .mdBtnR-text.hover,
  a.mdBtnR.mdBtnR-text-button .mdBtnR-text:focus,
  a.mdBtnR.mdBtnR-text-button .mdBtnR-text.focus,
  a.mdBtnR.mdBtnR-text-button .mdBtnR-text:active,
  a.mdBtnR.mdBtnR-text-button .mdBtnR-text.active {
      color: #8094ab;
      background-color: rgba(255, 255, 255, 0.9);
      background-image: none;
      border-color: transparent; }
  .mdBtnR.mdBtnR-text-button .mdBtnR-text:hover .mdBtnR-text, .mdBtnR.mdBtnR-text-button .mdBtnR-text.hover .mdBtnR-text, .mdBtnR.mdBtnR-text-button .mdBtnR-text:focus .mdBtnR-text, .mdBtnR.mdBtnR-text-button .mdBtnR-text.focus .mdBtnR-text, .mdBtnR.mdBtnR-text-button .mdBtnR-text:active .mdBtnR-text, .mdBtnR.mdBtnR-text-button .mdBtnR-text.active .mdBtnR-text,
  a.mdBtnR.mdBtnR-text-button .mdBtnR-text:hover .mdBtnR-text,
  a.mdBtnR.mdBtnR-text-button .mdBtnR-text.hover .mdBtnR-text,
  a.mdBtnR.mdBtnR-text-button .mdBtnR-text:focus .mdBtnR-text,
  a.mdBtnR.mdBtnR-text-button .mdBtnR-text.focus .mdBtnR-text,
  a.mdBtnR.mdBtnR-text-button .mdBtnR-text:active .mdBtnR-text,
  a.mdBtnR.mdBtnR-text-button .mdBtnR-text.active .mdBtnR-text {
      color: #8094ab; }
  
  /* END Buttons */
  /*=============================================*/
  /*
  /*  # Input
  /*
  /*=============================================*/
  .rf-input input:not([type="checkbox"]):not([type="radio"]):not(.mdBtnR),
  .rf-input textarea {
      height: auto; }
  .rf-input input:not([type="checkbox"]):not([type="radio"]):not(.mdBtnR):hover, .rf-input input:not([type="checkbox"]):not([type="radio"]):not(.mdBtnR):active, .rf-input input:not([type="checkbox"]):not([type="radio"]):not(.mdBtnR):focus,
  .rf-input textarea:hover,
  .rf-input textarea:active,
  .rf-input textarea:focus {
      /* Input and textarea hover, active, focused state styling */
      border-color: #002856;
      -webkit-box-shadow: 0 0 6px #8094ab;
      -moz-box-shadow: 0 0 6px #8094ab;
      -ms-box-shadow: 0 0 6px #8094ab;
      -o-box-shadow: 0 0 6px #8094ab;
      box-shadow: 0 0 6px #8094ab; }
  
  /* END Input */
  /*=============================================*/
  /*
  /*  # Text Area
  /*
  /*=============================================*/
  .rf-textarea textarea {
      height: auto;
      min-height: 100px;
      resize: vertical;
      transition: none !important; }
  .rf-textarea textarea:hover, .rf-textarea textarea:active, .rf-textarea textarea:focus {
      /* Input and textarea hover, active, focused state styling */
      border-color: #002856;
      -webkit-box-shadow: 0 0 6px #8094ab;
      -moz-box-shadow: 0 0 6px #8094ab;
      -ms-box-shadow: 0 0 6px #8094ab;
      -o-box-shadow: 0 0 6px #8094ab;
      box-shadow: 0 0 6px #8094ab; }
  
  /* END Text Area */
  /*=============================================*/
  /*
  /*  # Select Dropdown
  /*
  /*=============================================*/
  .rf-select select:active:hover, .rf-select select:active:active, .rf-select select:active:focus,
  .rf-select select:focus:hover,
  .rf-select select:focus:active,
  .rf-select select:focus:focus,
  .rf-select select:not([multiple]):active:hover,
  .rf-select select:not([multiple]):active:active,
  .rf-select select:not([multiple]):active:focus,
  .rf-select select:not([multiple]):focus:hover,
  .rf-select select:not([multiple]):focus:active,
  .rf-select select:not([multiple]):focus:focus,
  .dropdown-results-container input:active:hover,
  .dropdown-results-container input:active:active,
  .dropdown-results-container input:active:focus,
  .dropdown-results-container input:focus:hover,
  .dropdown-results-container input:focus:active,
  .dropdown-results-container input:focus:focus {
      border-color: #8094ab;
      -webkit-box-shadow: 0 0 6px #8094ab;
      -moz-box-shadow: 0 0 6px #8094ab;
      -ms-box-shadow: 0 0 6px #8094ab;
      -o-box-shadow: 0 0 6px #8094ab;
      box-shadow: 0 0 6px #8094ab; }
  
  .dropdown-results-container .rf-select-results-container li {
      color: rgba(0, 0, 0, 0.9); }
  .dropdown-results-container .rf-select-results-container li:hover, .dropdown-results-container .rf-select-results-container li.active {
      background-color: #f2f4f7; }
  
  .rf-select select:active + .select-dropdown-icon .dropdown-icon-background,
  .rf-select select:focus + .select-dropdown-icon .dropdown-icon-background,
  .rf-select select:not([multiple]):active + .select-dropdown-icon .dropdown-icon-background,
  .rf-select select:not([multiple]):focus + .select-dropdown-icon .dropdown-icon-background {
      border-color: #8094ab; }
  
  .dropdown-results-container .rf-singleselect .common-select-dropdown-option-item.active {
      background: #002856; }
  
  /*=============================================*/
  /*
  /*  # Radio
  /*
  /*=============================================*/
  .rf-radio-option .rf-radio-label {
      /*
  
        */ }
  
  .rf-radio-option input[type=radio] {
      /* Styles for the radio input for different checked states. */ }
  .rf-radio-option input[type=radio]:checked ~ .check::before {
      background: #8094ab; }
  .rf-radio-option input[type=radio]:checked ~ .check {
      border-color: #8094ab; }
  .rf-radio-option input[type=radio]:checked ~ .check::before {
      background: #8094ab; }
  
  .rf-radio-option span {
      color: #444; }
  
  .rf-radio-option .check {
      /* This is the Circle radio outline properties and placement. This is the default unchecked state. */
      border-color: #8094ab; }
  
  .rf-radio-option:hover {
      /* Hover state of the radio */ }
  .rf-radio-option:hover .check {
      /*
  
        */ }
  .rf-radio-option:hover .check::before {
      /* This is the hover state placement and color of the little radio circle inside the border. */
      background: #b3bfcd; }
  
  /* Radio buttons inside dropdown lists. */
  .rf-single-select .rf-select-results li:hover .check::before {
      background: #b3bfcd; }
  
  /* END Radio */
  /*=============================================*/
  /*
  /*  # Checkbox
  /*
  /*=============================================*/
  .rf-checkbox.rf-block-checkbox {
      /* If checkbox is used as a block element inline with inputs or something */ }
  
  .rf-checkbox .rfSI {
      /* Checkbox icon properties */ }
  .rf-checkbox .rfSI svg {
      /* Icon color unless hovered, then it's the following styles */
      fill: white; }
  .rf-checkbox .rfSI svg:hover, .rf-checkbox .rfSI svg:active, .rf-checkbox .rfSI svg:focus {
      fill: #667e9a; }
  
  .rf-checkbox .rf-checkbox-label {
      /* Properties of the text of a checkbox. */ }
  
  .rf-checkbox .checkbox-bg {
      /* Background of the checkbox before any states have happened */
      border-color: #002856;
      background: white; }
  
  .rf-checkbox input[type=checkbox] {
      /* Checkbox styles checked. */ }
  .rf-checkbox input[type=checkbox]:checked + .checkbox-bg {
      /* Checkbox background if checked. */
      background: #002856; }
  .rf-checkbox input[type=checkbox]:checked + .checkbox-bg + .rfSI {
      /* Checkbox icon color if checked and hovered (if different than checked. */ }
  .rf-checkbox input[type=checkbox]:checked + .checkbox-bg + .rfSI svg {
      fill: white; }
  .rf-checkbox input[type=checkbox]:checked + .checkbox-bg + .rfSI svg:hover, .rf-checkbox input[type=checkbox]:checked + .checkbox-bg + .rfSI svg:active, .rf-checkbox input[type=checkbox]:checked + .checkbox-bg + .rfSI svg:focus {
      fill: white !important; }
  
  .md-table .rf-checkbox.rf-block-checkbox {
      /* If checkbox is used as a block element inline with inputs or something */ }
  
  .md-table .rf-checkbox .rfSI {
      /* Checkbox icon properties */ }
  .md-table .rf-checkbox .rfSI svg {
      /* Icon color unless hovered, then it's the following styles */
      fill: white; }
  .md-table .rf-checkbox .rfSI svg:hover, .md-table .rf-checkbox .rfSI svg:active, .md-table .rf-checkbox .rfSI svg:focus {
      fill: #667e9a; }
  
  .md-table .rf-checkbox .rf-checkbox-label {
      /* Properties of the text of a checkbox. */ }
  
  .md-table .rf-checkbox .checkbox-bg {
      /* Background of the checkbox before any states have happened */
      border-color: #002856;
      background: white; }
  
  .md-table .rf-checkbox input[type=checkbox] {
      /* Checkbox styles checked. */ }
  .md-table .rf-checkbox input[type=checkbox]:checked + .checkbox-bg {
      /* Checkbox background if checked. */
      background: #002856; }
  .md-table .rf-checkbox input[type=checkbox]:checked + .checkbox-bg + .rfSI {
      /* Checkbox icon color if checked and hovered (if different than checked. */ }
  .md-table .rf-checkbox input[type=checkbox]:checked + .checkbox-bg + .rfSI svg {
      fill: white; }
  .md-table .rf-checkbox input[type=checkbox]:checked + .checkbox-bg + .rfSI svg:hover, .md-table .rf-checkbox input[type=checkbox]:checked + .checkbox-bg + .rfSI svg:active, .md-table .rf-checkbox input[type=checkbox]:checked + .checkbox-bg + .rfSI svg:focus {
      fill: white !important; }
  
  /* END Checkbox */
  /*=============================================*/
  /*
  /*  # File Upload
  /*
  /*=============================================*/
  .drop-upload-default.drop-upload {
      border-color: #8094ab; }
  
  .upload-file-area .uploaded-files span:not(.rfSI),
  .upload-file-form-container .uploaded-files span:not(.rfSI) {
      color: #8094ab; }
  
  /* END File Upload */
  /*=============================================*/
  /*
  /*  # Date Picker
  /*
  /*=============================================*/
  .rf-date-picker {
      cursor: pointer; }
  .rf-date-picker input {
      height: auto;
      height: auto !important;
      padding-right: 35px;
      cursor: pointer; }
  .rf-date-picker input:hover, .rf-date-picker input:active, .rf-date-picker input:focus {
      /* Input and textarea hover, active, focused state styling */
      border-color: #002856;
      -webkit-box-shadow: 0 0 6px #8094ab;
      -moz-box-shadow: 0 0 6px #8094ab;
      -ms-box-shadow: 0 0 6px #8094ab;
      -o-box-shadow: 0 0 6px #8094ab;
      box-shadow: 0 0 6px #8094ab; }
  .rf-date-picker input + .rfSI {
      position: absolute;
      right: 10px;
      bottom: 22px; }
  .rf-date-picker .rfSI svg {
      color: #002856; }
  
  .DayPickerInput .DayPicker-Month .DayPicker-Body .DayPicker-Day {
      border-radius: 4px; }
  
  .DayPickerInput .DayPicker-Month .DayPicker-Body .DayPicker-Day--today {
      color: #D0021B;
      font-weight: 700; }
  
  .DayPickerInput .DayPicker-Month .DayPicker-Body .DayPicker-Day--outside {
      color: #8B9898;
      cursor: default; }
  
  .DayPickerInput .DayPicker-Month .DayPicker-Body .DayPicker-Day--disabled {
      color: #DCE0E0;
      cursor: default;
      /* background-color: #eff1f1; */ }
  
  .DayPickerInput .DayPicker-Month .DayPicker-Body .DayPicker-WeekNumber {
      border-right: 1px solid #EAECEC;
      color: #8B9898; }
  
  .DayPickerInput .DayPicker-Month .DayPicker-Body .DayPicker-Day--today {
      color: red; }
  
  .DayPickerInput .DayPicker-Month .DayPicker-Body .DayPicker:not(.DayPicker--interactionDisabled) .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
      background-color: #002856; }
  
  .DayPickerInput .DayPicker-Month .DayPicker-Body .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
      color: white;
      background-color: #002856; }
  
  .DayPickerInput .DayPicker-Month .DayPicker-Body .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
      background-color: #8094ab; }
  
  .DayPickerInput .DayPicker-Footer .DayPicker-TodayButton {
      color: #002856; }
  
  /* END Date Picker */
  /*=============================================*/
  /*
  /*  # Select2
  /*
  /*=============================================*/
  /*=============================================*/
  /*
  /*  # Table
  /*
  /*=============================================*/
  .rf-table-container .table-action-bar {
      /* This is the action bar that replaces the header if you have bulk actions. */
      background-color: #002856; }
  
  .rf-table-container .rf-table {
      /* Minimum width of tables then scroll will be enabled. */ }
  .rf-table-container .rf-table .table-body .table-row {
      /* table row border property */
      border-color: #CCC; }
  .rf-table-container .rf-table .table-body .table-row:hover, .rf-table-container .rf-table .table-body .table-row.active {
      /* When table row is hovered, this is the background color */
      background: #e6eaee; }
  .rf-table-container .rf-table .table-body .table-row.table-header {
      /* Table header properties, overriding from row properties. */ }
  .rf-table-container .rf-table .table-body .table-row.table-header > div {
      /* Cell properties */
      border-bottom: 1px solid #002856 !important;
      border-top-color: #CCC;
      color: #002856; }
  .rf-table-container .rf-table .table-body .table-row > div {
      /* Table Cell properties */ }
  .rf-table-container .rf-table .table-body .table-row > div a,
  .rf-table-container .rf-table .table-body .table-row > div p,
  .rf-table-container .rf-table .table-body .table-row > div span {
      /* If there's additional items inside of cells, here's the properties. */ }
  .rf-table-container .rf-table .table-body .table-row > div a,
  .rf-table-container .rf-table .table-body .table-row > div a:link,
  .rf-table-container .rf-table .table-body .table-row > div a:visited {
      color: #002856; }
  .rf-table-container .rf-table .table-body .table-row:last-child > div {
      /* IF it's the last child, remove border (or other properties) */
      border-bottom: none; }
  .rf-table-container .rf-table .table-body .table-row .show-actions {
      /* Actions styling */ }
  .rf-table-container .rf-table .table-body .table-row .show-actions:hover {
      background-color: #e6eaee; }
  .rf-table-container .rf-table .table-body .table-row .show-actions:hover + .main-actions {
      background-color: #e6eaee; }
  .rf-table-container .rf-table .table-body .table-row:hover .show-actions,
  .rf-table-container .rf-table .table-body .table-row:hover .main-actions {
      background: #e6eaee; }
  .rf-table-container .rf-table .table-body a.table-row {
      /* If the table is a link assign these properties */
      color: rgba(0, 0, 0, 0.9);
      cursor: pointer; }
  .rf-table-container .rf-table .table-body a.table-row:hover, .rf-table-container .rf-table .table-body a.table-row.active {
      color: rgba(0, 0, 0, 0.9); }
  
  /* END Table */
  /*=============================================*/
  /*
  /*  # Modal
  /*
  /*=============================================*/
  .rf-default-modal .modal-content .modal-header,
  .modal .modal-content .modal-header {
      color: #002856;
      border-bottom: 1px solid #CCC; }
  .rf-default-modal .modal-content .modal-header .modal-title,
  .rf-default-modal .modal-content .modal-header h4,
  .rf-default-modal .modal-content .modal-header h3,
  .modal .modal-content .modal-header .modal-title,
  .modal .modal-content .modal-header h4,
  .modal .modal-content .modal-header h3 {
      color: #002856; }
  .rf-default-modal .modal-content .modal-header button,
  .rf-default-modal .modal-content .modal-header .modal-close,
  .modal .modal-content .modal-header button,
  .modal .modal-content .modal-header .modal-close {
      fill: #222; }
  .rf-default-modal .modal-content .modal-header button svg,
  .rf-default-modal .modal-content .modal-header .modal-close svg,
  .modal .modal-content .modal-header button svg,
  .modal .modal-content .modal-header .modal-close svg {
      fill: #222; }
  
  .rf-default-modal .modal-content .modal-sub-header,
  .modal .modal-content .modal-sub-header {
      border-bottom: 1px solid #CCC; }
  
  .rf-default-modal .modal-content .modal-body,
  .modal .modal-content .modal-body {
      color: rgba(0, 0, 0, 0.9); }
  
  .rf-default-modal .modal-content .modal-footer,
  .modal .modal-content .modal-footer {
      border-top: 1px solid #CCC; }
  
  /* END Modal */
  /*=============================================*/
  /*
  /*  # Badge/Pills
  /*
  /*=============================================*/
  .rf-pill-open {
      border-color: #002856;
      color: #002856; }
  .rf-pill-open .rf-pill-text {
      color: #002856; }
  
  .rf-pill-primary {
      background-color: #002856;
      border-color: #002856; }
  .rf-pill-primary .rf-pill-text {
      color: white; }
  
  .rf-pill-primary-open {
      border-color: #002856;
      color: #002856; }
  .rf-pill-primary-open .rf-pill-text {
      color: #002856; }
  
  .rf-pill-white {
      fill: #002856;
      color: #002856; }
  .rf-pill-white .rfSI {
      fill: #002856; }
  .rf-pill-white .rfSI svg {
      fill: #002856; }
  .rf-pill-white .rf-pill-text {
      color: #002856; }
  
  .rf-badge.rf-badge-green {
      background: #36d086; }
  
  .rf-badge.rf-badge-yellow {
      background: #f9f4d4; }
  
  .rf-badge.rf-badge-red {
      background: #f3e9e8; }
  
  /*=============================================*/
  /*=============================================*/
  
  [id*='rf-'].rf-widget .catalog-result .badges, .rf-default-modal .catalog-result .badges {
    display: block;
  }
  
  [id*='rf-'].rf-widget .catalog-result .badges .badge, .rf-default-modal .catalog-result .badges .badge {
    display: none;
  }
  
  
  
  
  /* END Pills */
  /*=============================================*/
  /*
  /*  # Misc
  /*  Miscellaneous, obviously.
  /*
  /*=============================================*/
  /*=============================================*/
  /*
  /*  # Dashboards
  /*
  /*=============================================*/
  .rfwf-header .rfwf-headline {
      width: 100%; }
  
  .wf-dashboard h3 {
      font-size: 30px;
      color: #002856; }
  
  .rf-dashboard-intro {
      margin-bottom: 30px; }
  
  .wf-card-container {
      padding: 20px;
      margin-bottom: 50px;
      background-color: #f4f4f4; }
  
  .attendee-dashboard-agenda {
      text-align: center; }
  
  .attendee-dashboard-agenda hr {
      margin: 50px 0; }
  
  .attendee-dashboard-agenda a,
  .questions-section a {
      color: #002856;
      display: inline-block;
      text-transform: initial; }
  
  .attendee-dashboard-agenda a:hover,
  .questions-section a:hover {
      color: #002856;
      text-decoration: none;
      text-transform: initial; }
  
  .questions-section {
      text-align: center;
      padding: 30px;
      width: 100%;
      background-color: #f4f4f4; }
  
  /*=============================================*/
  /*
  /*  # Misc
  /*
  /*=============================================*/
  /*=============================================*/
  /*
  /*  # Show Hide
  /*
  /*=============================================*/
  .rf-show-hide .rf-show-hide-trigger {
      color: #002856; }
  
  /* END Show Hide */
  /*=============================================*/
  /*
  /*  # Vendor
  /*
  /*=============================================*/
  /*=============================================*/
  /*
  /*  # BrainTree Inputs
  /*
  /*=============================================*/
  #card-number,
  #expiration-date,
  #cvv-input {
      border: 1px solid #CCC;
      color: rgba(0, 0, 0, 0.9);
      background: white;
      font-family: "Graphik Web", sans-serif;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px; }
  #card-number.braintree-hosted-fields-focused,
  #expiration-date.braintree-hosted-fields-focused,
  #cvv-input.braintree-hosted-fields-focused {
      border: 1px solid #002856; }
  #card-number:hover, #card-number:focus, #card-number:active,
  #expiration-date:hover,
  #expiration-date:focus,
  #expiration-date:active,
  #cvv-input:hover,
  #cvv-input:focus,
  #cvv-input:active {
      border: 1px solid #002856; }
  
  #cc-number {
      height: 38px !important; }
  
  /* END BrainTree Inputs */
  
  
  /* Marcus' Over-ride Edit */
  
  .favorite-catalog-result {
    display: inline-block !important;
  }
  
  /* Marcus' Over-ride Edit */
  
  
  
  
  /* Mykes edits for JP only unique to class name on page builder */
  .jp-exhibitors #rf-exhibitorcatalog .main-content {
      padding: 8px;
  }
  
  .jp-exhibitors #rf-exhibitorcatalog .search-content {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin: 0 -8px;
      padding: 0;
  }
  
  .jp-exhibitors #rf-exhibitorcatalog .search-content .exhibitor-tile-container {
      width: 100%;
      padding: 0 8px;
      margin: 0;
  }
  
  .jp-exhibitors #rf-exhibitorcatalog .search-content .rf-tile-container .rf-tile-wrapper {
      width: 100%;
      padding: 0;
  }
  
  @media all and (min-width: 1000px) {
  
      .jp-exhibitors #rf-exhibitorcatalog .search-content .exhibitor-tile-container {
          width: 50%;
      }
  }
  
  @media all and (min-width: 1250px) {
      .jp-exhibitors #rf-exhibitorcatalog .search-content .exhibitor-tile-container {
          width: 33.33%;
      }
  }
  
  
  .jp-exhibitors #rf-exhibitorcatalog .search-container .search-content h2 {
      display: none;
  }
  
  
  
  
  /* Mykes edits for JP */
  
  