.rf-flex-frame, .rf-simple-flex-grid {
    display: flex;
}
a, a:link, a:visited {
    color: #3e82e0;
    text-decoration: none;
    cursor: pointer;
}
a:hover, a:focus, a:link:hover, a:link:focus, a:visited:hover, a:visited:focus {
    color: #9fc1f0;
    text-decoration: underline;
    cursor: pointer;
}
.rf-simple-flex-grid {
    margin: 0 -8px;
    flex-wrap: wrap;
}
.rf-simple-flex-grid .rf-flex-column-25 {
    width: 25%;
}
.rf-simple-flex-grid .rf-flex-column, .rf-simple-flex-grid>div {
    flex: 1 1 0px;
    padding-left: 8px;
    padding-right: 8px;
}
.rf-simple-flex-grid .rf-flex-column-75 {
    width: 75%;
}